@charset "UTF-8";
.lite-tools-settings {
  /* 模态框 */
  /* 版本号 */
}
.lite-tools-settings .config_view .modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.lite-tools-settings .config_view .modal-dialog {
  width: 480px;
  border-radius: 8px;
  /* Linux样式兼容：--fg_white */
  background-color: var(--bg_bottom_standard, var(--fg_white));
}
.lite-tools-settings .config_view .modal-dialog header {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.lite-tools-settings .config_view .modal-dialog main {
  padding: 0px 16px;
}
.lite-tools-settings .config_view .modal-dialog main p {
  margin: 8px 0px;
}
.lite-tools-settings .config_view .modal-dialog footer {
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.lite-tools-settings .config_view .modal-dialog .q-icon {
  width: 22px;
  height: 22px;
  margin: 8px;
}
.lite-tools-settings .config_view .versions .wrap {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
.lite-tools-settings .config_view .versions .wrap > div {
  flex: 1;
  margin: 0px 10px;
  border-radius: 8px;
  text-align: center;
}
.lite-tools-settings .input-text {
  align-self: normal;
  height: 24px;
  flex: 1;
  border-radius: 4px;
  margin-right: 16px;
  transition: all 100ms ease-out;
  padding-left: 5px;
  background-color: var(--overlay_active);
}
.lite-tools-settings .input-text:last-child {
  margin-right: 0;
}
.lite-tools-settings .q-switch__disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (prefers-color-scheme: light) {
  .lite-tools-settings .text_color {
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  .lite-tools-settings .text_color {
    color: white;
  }
}
.lite-tools-settings .version {
  text-align: center;
}
.lite-tools-settings .version .link {
  cursor: pointer;
  font-size: 13px;
  margin-left: 4px;
  color: #0099ff;
}