@charset "UTF-8";
.lite-tools-settings {
  /* 模态框 */
  /* 版本号 */
  /* 外边距 */
  /* 每节的标题 */
  /* 纵向列表条目 */
  /* 水平分割线 */
  /* 纵向分割线 */
  /* 按钮布局 */
  /* 副文本 */
  /* 隐藏 */
  /* 禁用 */
  /* 选择框按钮-文本 */
  /* 选择框按钮-图标 */
  /* 选择框选项菜单 */
  /* 选择框选项菜单-图标 */
  /* 选择框选项菜单-选择后图标 */
}
.lite-tools-settings.eggs {
  animation: eggs 1s infinite linear;
}
.lite-tools-settings.eggs h1 {
  color: var(--brand_standard, var(--fill_standard_primary)) !important;
  filter: hue-rotate(45deg);
}
.lite-tools-settings.eggs .wrap h2 {
  filter: hue-rotate(90deg);
}
.lite-tools-settings.eggs .wrap * {
  color: var(--brand_standard, var(--fill_standard_primary)) !important;
}
@keyframes eggs {
  0% {
    filter: drop-shadow(-4px -4px 0 var(--brand_standard, var(--fill_standard_primary))) hue-rotate(0deg) grayscale(10%);
  }
  25% {
    filter: drop-shadow(4px -4px 0 var(--brand_standard, var(--fill_standard_primary))) hue-rotate(90deg) grayscale(10%);
  }
  50% {
    filter: drop-shadow(4px 4px 0 var(--brand_standard, var(--fill_standard_primary))) hue-rotate(180deg) grayscale(10%);
  }
  75% {
    filter: drop-shadow(-4px 4px 0 var(--brand_standard, var(--fill_standard_primary))) hue-rotate(270deg) grayscale(10%);
  }
  100% {
    filter: drop-shadow(-4px -4px 0 var(--brand_standard, var(--fill_standard_primary))) hue-rotate(360deg) grayscale(10%);
  }
}
.lite-tools-settings .select-default-save-file-input-clear,
.lite-tools-settings .select-local-emoticons-folder-clear,
.lite-tools-settings .select-background-wallpaper-clear {
  cursor: pointer;
}
.lite-tools-settings .vertical-list-item.fl-d {
  flex-direction: column;
  align-items: flex-start;
}
.lite-tools-settings input[type=color] {
  height: 24px;
  width: 62px;
  padding: 0;
  cursor: pointer;
  border: unset !important;
  outline: none !important;
}
.lite-tools-settings input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.lite-tools-settings input[type=color]::-webkit-color-swatch {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: unset !important;
}
.lite-tools-settings input[type=color]:focus {
  border: unset !important;
  outline: none !important;
}
.lite-tools-settings .config_view .modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.lite-tools-settings .config_view .modal-dialog {
  width: 480px;
  border-radius: 8px;
  /* Linux样式兼容：--fg_white */
  background-color: var(--bg_bottom_standard, var(--fg_white));
}
.lite-tools-settings .config_view .modal-dialog header {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.lite-tools-settings .config_view .modal-dialog main {
  padding: 0px 16px;
}
.lite-tools-settings .config_view .modal-dialog main p {
  margin: 8px 0px;
}
.lite-tools-settings .config_view .modal-dialog footer {
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.lite-tools-settings .config_view .modal-dialog .q-icon {
  width: 22px;
  height: 22px;
  margin: 8px;
}
.lite-tools-settings .config_view .versions .wrap {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
.lite-tools-settings .config_view .versions .wrap > div {
  flex: 1;
  margin: 0px 10px;
  border-radius: 8px;
  text-align: center;
}
.lite-tools-settings .input-text {
  align-self: normal;
  height: 24px;
  flex: 1;
  border-radius: 4px;
  margin-right: 16px;
  transition: all 100ms ease-out;
  padding-left: 5px;
  background-color: var(--overlay_active);
}
.lite-tools-settings .input-text:last-child {
  margin-right: 0;
}
.lite-tools-settings .input-text-active-show {
  align-self: normal;
  height: 24px;
  flex: 1;
  border-radius: 4px;
  transition: 200ms;
  font-family: inherit !important;
  color: var(--text_secondary_2) !important;
}
.lite-tools-settings .input-text-active-show:focus {
  text-indent: 8px;
  background-color: var(--overlay_active);
}
.lite-tools-settings .q-switch__disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (prefers-color-scheme: light) {
  .lite-tools-settings .text_color {
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  .lite-tools-settings .text_color {
    color: white;
  }
}
.lite-tools-settings .version {
  text-align: center;
}
.lite-tools-settings .link {
  cursor: pointer;
  font-size: 13px;
  margin-left: 4px;
  color: #0099ff;
}
.lite-tools-settings .disabled-switch.q-switch {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .disabled-switch .q-switch {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .disabled-input {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .panel-main {
  width: 100%;
  height: 48px;
}
.lite-tools-settings .panel-main .sider {
  width: calc(100% - 16px);
  margin-left: 8px;
  height: 4px;
  background: var(--fill_standard_primary);
  overflow: visible;
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
}
.lite-tools-settings .panel-main .sider .active-bg {
  background-color: var(--brand_standard) !important;
}
.lite-tools-settings .panel-main .sider .sider-button {
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px var(--blend_black_010);
  height: 20px;
  width: 8px;
  border: 1px solid var(--blend_black_008);
  background-color: var(--el-color-white);
  box-shadow: 0 4px 12px var(--blend_black_010);
  transition: transform 300ms;
  transform: translateY(-8px) translateX(-50%);
  position: absolute;
  z-index: 20;
  cursor: grab;
}
.lite-tools-settings .panel-main .sider .sider-button:active {
  cursor: grabbing;
}
.lite-tools-settings .panel-main .sider .sider-mask {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--brand_standard);
}
.lite-tools-settings .panel-main .sider .sider-step {
  width: 100%;
  height: 28px;
  position: absolute;
  z-index: 10;
  top: -12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lite-tools-settings .panel-main .sider .sider-step .sider-step-item {
  border-radius: 2px 2px 0 0;
  width: 4px;
  height: 4px;
  background: var(--fill_standard_primary);
  transform: translateY(-4px);
}
.lite-tools-settings .panel-main .sider .sider-step .sider-step-item:first-child {
  border-radius: 2px;
  margin-left: -4px;
  height: 12px;
  transform: unset;
}
.lite-tools-settings .panel-main .sider .sider-step .sider-step-item:last-child {
  border-radius: 2px;
  margin-right: -4px;
  height: 12px;
  transform: unset;
}
.lite-tools-settings .panel-main .sider-text-wrap {
  width: calc(100% - 4px);
  margin-left: 2px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lite-tools-settings .panel-main .sider-text-wrap .sider-text {
  width: auto;
}
.lite-tools-settings .slot-input-box {
  width: 62px !important;
}
.lite-tools-settings .fonts-selector {
  width: calc(100% - 400px) !important;
  max-width: 300px;
  position: relative;
}
.lite-tools-settings .fonts-selector .slot-input {
  text-align: left;
  padding-left: 5px;
}
.lite-tools-settings .fonts-selector .font-list {
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  max-height: 410px;
  overflow: scroll;
  border-radius: 6px;
  padding: 6px;
  z-index: 100;
  backdrop-filter: blur(28px);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  mix-blend-mode: multiply;
  transition: 150ms;
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
}
.lite-tools-settings .fonts-selector .font-list.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.lite-tools-settings .fonts-selector .font-list .font-item {
  font-size: 14px;
  line-height: 26px;
  display: block;
  border-radius: 4px;
  padding: 0 4px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space-collapse: collapse;
  text-wrap: nowrap;
}
.lite-tools-settings .fonts-selector .font-list .font-item.poe-none {
  pointer-events: none;
  opacity: 0.6;
}
.lite-tools-settings .fonts-selector .font-list .font-item:hover {
  background-color: var(--hover-background);
}
.lite-tools-settings .slot-input {
  text-align: center;
  width: 100%;
  height: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--overlay_active);
}
.lite-tools-settings .slot-input::-webkit-inner-spin-button, .lite-tools-settings .slot-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.lite-tools-settings .plugin-config-view {
  margin: 20px;
}
.lite-tools-settings h1 {
  color: var(--text_primary);
  font-weight: var(--font-bold);
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  padding: 0px 16px;
  margin-bottom: 8px;
}
.lite-tools-settings .wrap {
  /* Linux样式兼容：--fg_white */
  background-color: var(--fill_light_primary, var(--fg_white));
  border-radius: 8px;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0px 16px;
}
.lite-tools-settings .wrap .title {
  cursor: pointer;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
}
.lite-tools-settings .wrap .title .icon {
  width: 1em;
  height: 1em;
  transform: rotate(-180deg);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.lite-tools-settings .wrap .title .icon.is-fold {
  transform: rotate(0deg);
}
.lite-tools-settings .vertical-list-item {
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lite-tools-settings .horizontal-dividing-line {
  border: unset;
  margin: unset;
  height: 1px;
  background-color: rgba(127, 127, 127, 0.15);
}
.lite-tools-settings .vertical-dividing-line {
  border: unset;
  margin: unset;
  width: 1px;
  background-color: rgba(127, 127, 127, 0.15);
}
.lite-tools-settings .ops-btns {
  display: flex;
}
.lite-tools-settings .secondary-text {
  color: var(--text_secondary);
  font-size: min(var(--font_size_2), 16px);
  line-height: min(var(--line_height_2), 22px);
  margin-top: 4px;
}
.lite-tools-settings .hidden {
  display: none !important;
}
.lite-tools-settings .disabled {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .q-pulldown-menu-button .content {
  width: 80px;
}
.lite-tools-settings .q-pulldown-menu-button .icon {
  width: 16px;
  height: 16px;
}
.lite-tools-settings .q-context-menu {
  z-index: 4000;
  margin-top: 5px;
  width: 122px;
}
.lite-tools-settings .q-context-menu .icon {
  display: none;
  width: 1em;
  height: 1em;
}
.lite-tools-settings .q-context-menu .selected .icon {
  display: block !important;
}
.lite-tools-settings .q-button--danger {
  background-color: var(--btn-danger-bg);
  border-color: var(--btn-danger-border);
  color: var(--btn-danger-textcolor);
  transition: 150ms;
}
.lite-tools-settings .q-button--danger:hover {
  background-color: var(--btn-hover-danger-bg);
  border-color: var(--btn-hover-danger-border);
  color: var(--btn-hover-danger-textcolor);
}
.lite-tools-settings .q-button--danger:active {
  background-color: var(--btn-active-danger-bg);
  border-color: var(--btn-active-danger-border);
  color: var(--btn-active-danger-textcolor);
}
.lite-tools-settings red {
  color: red;
  font-weight: bold;
  margin: 0 2px;
}
.lite-tools-settings .tail-ruls-list {
  width: 100%;
  height: auto;
}
.lite-tools-settings .tail-ruls-list .ruls-item {
  width: 100%;
  min-height: 60px;
  margin-bottom: 8px;
  border: solid 1px rgba(127, 127, 127, 0.3);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 12px;
  position: relative;
}
.lite-tools-settings .tail-ruls-list .ruls-item:last-child {
  margin-bottom: 4px;
}
.lite-tools-settings .tail-ruls-list .ruls-item:hover .ruls-control {
  opacity: 1;
}
.lite-tools-settings .tail-ruls-list .ruls-item:first-child .ruls-control div:first-child {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .tail-ruls-list .ruls-item:last-child .ruls-control div:last-child {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .tail-ruls-list .ruls-item .left-box {
  width: 490px;
  height: 100%;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.lite-tools-settings .tail-ruls-list .ruls-item .left-box .tail-opt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
  line-height: 24px;
  font-size: 12px;
  width: 100%;
}
.lite-tools-settings .tail-ruls-list .ruls-item .left-box .tail-opt input {
  font-size: 12px;
  font-family: inherit;
}
.lite-tools-settings .tail-ruls-list .ruls-item .left-box .tail-opt:last-child {
  margin-bottom: 0;
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  width: 60px;
  color: var(--text_secondary);
  font-size: 12px;
  transition: 150ms;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control svg {
  width: 1.5em;
  height: 1.5em;
  transition: 150ms;
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control > div {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: 150ms;
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control > div:hover {
  color: var(--text_secondary_2);
  background-color: var(--emoticons-category-hover-bg);
  opacity: 0.8;
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control > div:active {
  opacity: 1;
  color: var(--text_secondary_2);
  background-color: var(--emoticons-category-hover-bg);
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control > div:active:not(.delete) svg {
  transform: translateY(6px);
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control > div:active.delete svg {
  transform: translateY(2px);
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .to-up,
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .to-down {
  height: 30px;
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .to-up svg,
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .to-down svg {
  transform: translateY(3px);
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .to-up:first-child,
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .to-down:first-child {
  transform: rotate(180deg);
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .delete {
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .delete svg {
  color: var(--btn-active-danger-border);
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .delete:hover, .lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .delete:active {
  background-color: var(--btn-danger-border);
}
.lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .delete:hover svg, .lite-tools-settings .tail-ruls-list .ruls-item .ruls-control .delete:active svg {
  color: var(--btn-danger-textcolor);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --background-color-008: rgba(255, 255, 255, 0.08);
    --hover-background: rgba(0, 0, 0, 0.08);
    --btn-danger-bg: rgba(245, 108, 108, 0.1) !important;
    --btn-danger-border: rgba(245, 108, 108, 0.3) !important;
    --btn-danger-textcolor: rgba(245, 108, 108, 1) !important;
    --btn-hover-danger-bg: rgba(245, 108, 108, 1) !important;
    --btn-hover-danger-border: rgba(255, 108, 108, 1) !important;
    --btn-hover-danger-textcolor: rgba(255, 255, 255, 0.9) !important;
    --btn-active-danger-bg: rgb(221, 99, 99) !important;
    --btn-active-danger-border: rgb(221, 99, 99) !important;
    --btn-active-danger-textcolor: rgba(255, 255, 255, 0.9) !important;
    --text_secondary_2: rgba(0, 0, 0, 0.85);
    --placeholder-color: rgba(0, 0, 0, 0.75);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(14, 14, 14);
    --background-color-008: rgba(0, 0, 0, 0.08);
    --hover-background: rgba(255, 255, 255, 0.08);
    --btn-danger-bg: rgba(245, 108, 108, 0.1) !important;
    --btn-danger-border: rgba(245, 108, 108, 0.3) !important;
    --btn-danger-textcolor: rgba(245, 108, 108, 1) !important;
    --btn-hover-danger-bg: rgba(245, 108, 108, 0.5) !important;
    --btn-hover-danger-border: rgba(245, 108, 108, 0.5) !important;
    --btn-hover-danger-textcolor: rgba(255, 255, 255, 0.9) !important;
    --btn-active-danger-bg: rgba(245, 108, 108, 0.6) !important;
    --btn-active-danger-border: rgba(245, 108, 108, 0.6) !important;
    --btn-active-danger-textcolor: rgba(255, 255, 255, 0.9) !important;
    --text_secondary_2: rgba(255, 255, 255, 0.85);
    --placeholder-color: rgba(255, 255, 255, 0.75);
  }
}
.q-svg-icon.eggs-icon {
  cursor: pointer;
}
.q-svg-icon.eggs-icon svg {
  transition: 300ms;
}
.q-svg-icon.eggs-icon:hover svg {
  transform: translateY(-6px);
}
.q-svg-icon.eggs-icon.eggs-action svg {
  transition: 100ms ease-in;
  transform: translateY(6px) !important;
}

.lt-eggs-title {
  position: relative;
  transition: 500ms;
}
.lt-eggs-title:active {
  animation: 1.5s 1.5s linear 1 randomJitter;
}
@keyframes randomJitter {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  3% {
    transform: translateX(2px) rotate(0deg);
  }
  6% {
    transform: translateX(-2px) rotate(0deg);
  }
  9% {
    transform: translateX(2px) rotate(0deg);
  }
  12% {
    transform: translateX(-2px) rotate(0deg);
  }
  15% {
    transform: translateX(3px) rotate(0deg);
  }
  18% {
    transform: translateX(-3px) rotate(0deg);
  }
  21% {
    transform: translateX(3px) rotate(0deg);
  }
  24% {
    transform: translateX(-3px) rotate(0deg);
  }
  27% {
    transform: translateX(4px) rotate(0deg);
  }
  30% {
    transform: translateX(-4px) rotate(0deg);
  }
  33% {
    transform: translateX(4px) rotate(0deg);
  }
  36% {
    transform: translateX(-4px) rotate(0deg);
  }
  39% {
    transform: translateX(5px) rotate(0deg);
  }
  42% {
    transform: translateX(-5px) rotate(0deg);
  }
  45% {
    transform: translateX(6px) rotate(0deg);
  }
  48% {
    transform: translateX(-6px) rotate(1deg);
  }
  51% {
    transform: translateX(6px) rotate(-1deg);
  }
  54% {
    transform: translateX(-6px) rotate(1deg);
  }
  57% {
    transform: translateX(6px) rotate(-1deg);
  }
  60% {
    transform: translateX(-6px) rotate(2deg);
  }
  63% {
    transform: translateX(6px) rotate(-2deg);
  }
  66% {
    transform: translateX(-6px) rotate(2deg);
  }
  69% {
    transform: translateX(6px) rotate(-2deg);
  }
  72% {
    transform: translateX(-6px) rotate(2deg);
  }
  75% {
    transform: translateX(6px) rotate(-2deg);
  }
  78% {
    transform: translateX(-6px) rotate(2deg);
  }
  81% {
    transform: translateX(6px) rotate(-2deg);
  }
  84% {
    transform: translateX(-6px) rotate(2deg);
  }
  87% {
    transform: translateX(6px) rotate(-2deg);
  }
  90% {
    transform: translateX(-6px) rotate(2deg);
  }
  93% {
    transform: translateX(6px) rotate(-2deg);
  }
  96% {
    transform: translateX(-6px) rotate(2deg);
  }
  99% {
    transform: translateX(6px) rotate(-2deg);
  }
}