@charset "UTF-8";
.lite-tools-settings {
  /* 模态框 */
  /* 版本号 */
  /* 外边距 */
  /* 每节的标题 */
  /* 纵向列表条目 */
  /* 水平分割线 */
  /* 纵向分割线 */
  /* 按钮布局 */
  /* 副文本 */
  /* 隐藏 */
  /* 禁用 */
  /* 选择框按钮-文本 */
  /* 选择框按钮-图标 */
  /* 选择框选项菜单 */
  /* 选择框选项菜单-图标 */
  /* 选择框选项菜单-选择后图标 */
}
.lite-tools-settings .vertical-list-item.fl-d {
  flex-direction: column;
  align-items: flex-start;
}
.lite-tools-settings .config_view .modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.lite-tools-settings .config_view .modal-dialog {
  width: 480px;
  border-radius: 8px;
  /* Linux样式兼容：--fg_white */
  background-color: var(--bg_bottom_standard, var(--fg_white));
}
.lite-tools-settings .config_view .modal-dialog header {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.lite-tools-settings .config_view .modal-dialog main {
  padding: 0px 16px;
}
.lite-tools-settings .config_view .modal-dialog main p {
  margin: 8px 0px;
}
.lite-tools-settings .config_view .modal-dialog footer {
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.lite-tools-settings .config_view .modal-dialog .q-icon {
  width: 22px;
  height: 22px;
  margin: 8px;
}
.lite-tools-settings .config_view .versions .wrap {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
.lite-tools-settings .config_view .versions .wrap > div {
  flex: 1;
  margin: 0px 10px;
  border-radius: 8px;
  text-align: center;
}
.lite-tools-settings .input-text {
  align-self: normal;
  height: 24px;
  flex: 1;
  border-radius: 4px;
  margin-right: 16px;
  transition: all 100ms ease-out;
  padding-left: 5px;
  background-color: var(--overlay_active);
}
.lite-tools-settings .input-text:last-child {
  margin-right: 0;
}
.lite-tools-settings .q-switch__disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (prefers-color-scheme: light) {
  .lite-tools-settings .text_color {
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  .lite-tools-settings .text_color {
    color: white;
  }
}
.lite-tools-settings .version {
  text-align: center;
}
.lite-tools-settings .version .link {
  cursor: pointer;
  font-size: 13px;
  margin-left: 4px;
  color: #0099ff;
}
.lite-tools-settings .disabled-switch .q-switch {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .disabled-input {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .panel-main {
  width: 100%;
  height: 48px;
}
.lite-tools-settings .panel-main .sider {
  width: calc(100% - 16px);
  margin-left: 8px;
  height: 4px;
  background: var(--fill_standard_primary);
  overflow: visible;
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
}
.lite-tools-settings .panel-main .sider .active-bg {
  background-color: var(--brand_standard) !important;
}
.lite-tools-settings .panel-main .sider .sider-button {
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px var(--blend_black_010);
  height: 20px;
  width: 8px;
  border: 1px solid var(--blend_black_008);
  background-color: var(--el-color-white);
  box-shadow: 0 4px 12px var(--blend_black_010);
  transition: transform 300ms;
  transform: translateY(-8px) translateX(-50%);
  position: absolute;
  z-index: 20;
  cursor: grab;
}
.lite-tools-settings .panel-main .sider .sider-button:active {
  cursor: grabbing;
}
.lite-tools-settings .panel-main .sider .sider-mask {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--brand_standard);
}
.lite-tools-settings .panel-main .sider .sider-step {
  width: 100%;
  height: 28px;
  position: absolute;
  z-index: 10;
  top: -12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lite-tools-settings .panel-main .sider .sider-step .sider-step-item {
  border-radius: 2px 2px 0 0;
  width: 4px;
  height: 4px;
  background: var(--fill_standard_primary);
  transform: translateY(-4px);
}
.lite-tools-settings .panel-main .sider .sider-step .sider-step-item:first-child {
  border-radius: 2px;
  margin-left: -4px;
  height: 12px;
  transform: unset;
}
.lite-tools-settings .panel-main .sider .sider-step .sider-step-item:last-child {
  border-radius: 2px;
  margin-right: -4px;
  height: 12px;
  transform: unset;
}
.lite-tools-settings .panel-main .sider-text-wrap {
  width: calc(100% - 4px);
  margin-left: 2px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lite-tools-settings .panel-main .sider-text-wrap .sider-text {
  width: auto;
}
.lite-tools-settings .max-commonly-emoticons-num {
  width: 62px !important;
}
.lite-tools-settings .max-commonly-emoticons-num .commonly-emoticons-num {
  text-align: center;
  width: 100%;
  height: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--overlay_active);
}
.lite-tools-settings .max-commonly-emoticons-num .commonly-emoticons-num::-webkit-inner-spin-button, .lite-tools-settings .max-commonly-emoticons-num .commonly-emoticons-num::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.lite-tools-settings .plugin-config-view {
  margin: 20px;
}
.lite-tools-settings h1 {
  color: var(--text_primary);
  font-weight: var(--font-bold);
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  padding: 0px 16px;
  margin-bottom: 8px;
}
.lite-tools-settings .wrap {
  /* Linux样式兼容：--fg_white */
  background-color: var(--fill_light_primary, var(--fg_white));
  border-radius: 8px;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0px 16px;
}
.lite-tools-settings .wrap .title {
  cursor: pointer;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
}
.lite-tools-settings .wrap .title .icon {
  width: 1em;
  height: 1em;
  transform: rotate(-180deg);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.lite-tools-settings .wrap .title .icon.is-fold {
  transform: rotate(0deg);
}
.lite-tools-settings .vertical-list-item {
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lite-tools-settings .horizontal-dividing-line {
  border: unset;
  margin: unset;
  height: 1px;
  background-color: rgba(127, 127, 127, 0.15);
}
.lite-tools-settings .vertical-dividing-line {
  border: unset;
  margin: unset;
  width: 1px;
  background-color: rgba(127, 127, 127, 0.15);
}
.lite-tools-settings .ops-btns {
  display: flex;
}
.lite-tools-settings .secondary-text {
  color: var(--text_secondary);
  font-size: min(var(--font_size_2), 16px);
  line-height: min(var(--line_height_2), 22px);
  margin-top: 4px;
}
.lite-tools-settings .hidden {
  display: none !important;
}
.lite-tools-settings .disabled {
  pointer-events: none;
  opacity: 0.5;
}
.lite-tools-settings .q-pulldown-menu-button .content {
  width: 80px;
}
.lite-tools-settings .q-pulldown-menu-button .icon {
  width: 16px;
  height: 16px;
}
.lite-tools-settings .q-context-menu {
  z-index: 4000;
  margin-top: 5px;
  width: 122px;
}
.lite-tools-settings .q-context-menu .icon {
  display: none;
  width: 1em;
  height: 1em;
}
.lite-tools-settings .q-context-menu .selected .icon {
  display: block !important;
}