.lite-tools-settings {
  .vertical-list-item {
    &.fl-d {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  /* 模态框 */
  .config_view .modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .config_view .modal-dialog {
    width: 480px;
    border-radius: 8px;
    /* Linux样式兼容：--fg_white */
    background-color: var(--bg_bottom_standard, var(--fg_white));
  }

  .config_view .modal-dialog header {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .config_view .modal-dialog main {
    padding: 0px 16px;
  }

  .config_view .modal-dialog main p {
    margin: 8px 0px;
  }

  .config_view .modal-dialog footer {
    height: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .config_view .modal-dialog .q-icon {
    width: 22px;
    height: 22px;
    margin: 8px;
  }

  /* 版本号 */
  .config_view .versions .wrap {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
  }

  .config_view .versions .wrap > div {
    flex: 1;
    margin: 0px 10px;
    border-radius: 8px;
    text-align: center;
  }

  .input-text {
    align-self: normal;
    height: 24px;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
    padding-left: 5px;
    background-color: var(--overlay_active);
  }
  .input-text:last-child {
    margin-right: 0;
  }
  .q-switch__disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (prefers-color-scheme: light) {
    .text_color {
      color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    .text_color {
      color: white;
    }
  }

  .version {
    text-align: center;
  }
  .version .link {
    cursor: pointer;
    font-size: 13px;
    margin-left: 4px;
    color: #0099ff;
  }
  .disabled-switch {
    .q-switch {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .disabled-input {
    pointer-events: none;
    opacity: 0.5;
  }
  .panel-main {
    width: 100%;
    height: 48px;
    .sider {
      width: calc(100% - 16px);
      margin-left: 8px;
      height: 4px;
      background: var(--fill_standard_primary);
      overflow: visible;
      position: relative;
      margin-top: 12px;
      margin-bottom: 12px;
      .active-bg {
        background-color: var(--brand_standard) !important;
      }
      .sider-button {
        top: 0;
        left: 0;
        border-radius: 4px;
        box-shadow: 0 4px 12px var(--blend_black_010);
        height: 20px;
        width: 8px;
        border: 1px solid var(--blend_black_008);
        background-color: var(--el-color-white);
        box-shadow: 0 4px 12px var(--blend_black_010);
        transition: transform 300ms;
        transform: translateY(-8px) translateX(-50%);
        position: absolute;
        z-index: 20;
        cursor: grab;
        &:active {
          cursor: grabbing;
        }
      }
      .sider-mask {
        width: 0%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--brand_standard);
      }
      .sider-step {
        width: 100%;
        height: 28px;
        position: absolute;
        z-index: 10;
        top: -12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sider-step-item {
          border-radius: 2px 2px 0 0;
          width: 4px;
          height: 4px;
          background: var(--fill_standard_primary);
          transform: translateY(-4px);
          &:first-child {
            border-radius: 2px;
            margin-left: -4px;
            height: 12px;
            transform: unset;
          }
          &:last-child {
            border-radius: 2px;
            margin-right: -4px;
            height: 12px;
            transform: unset;
          }
        }
      }
    }
    .sider-text-wrap {
      width: calc(100% - 4px);
      margin-left: 2px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .sider-text {
        width: auto;
      }
    }
  }

  .max-commonly-emoticons-num {
    width: 62px !important;
    .commonly-emoticons-num {
      text-align: center;
      width: 100%;
      height: 24px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: var(--overlay_active);
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  /* 外边距 */
  .plugin-config-view {
    margin: 20px;
  }

  /* 每节的标题 */
  h1 {
    color: var(--text_primary);
    font-weight: var(--font-bold);
    font-size: min(var(--font_size_3), 18px);
    line-height: min(var(--line_height_3), 24px);
    padding: 0px 16px;
    margin-bottom: 8px;
  }

  .wrap {
    /* Linux样式兼容：--fg_white */
    background-color: var(--fill_light_primary, var(--fg_white));
    border-radius: 8px;
    font-size: min(var(--font_size_3), 18px);
    line-height: min(var(--line_height_3), 24px);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0px 16px;
  }

  .wrap .title {
    cursor: pointer;
    font-size: min(var(--font_size_3), 18px);
    line-height: min(var(--line_height_3), 24px);
  }

  .wrap .title .icon {
    width: 1em;
    height: 1em;
    transform: rotate(-180deg);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: transform;
  }

  .wrap .title .icon.is-fold {
    transform: rotate(0deg);
  }

  /* 纵向列表条目 */
  .vertical-list-item {
    margin: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* 水平分割线 */
  .horizontal-dividing-line {
    border: unset;
    margin: unset;
    height: 1px;
    background-color: rgba(127, 127, 127, 0.15);
  }

  /* 纵向分割线 */
  .vertical-dividing-line {
    border: unset;
    margin: unset;
    width: 1px;
    background-color: rgba(127, 127, 127, 0.15);
  }

  /* 按钮布局 */
  .ops-btns {
    display: flex;
  }

  /* 副文本 */
  .secondary-text {
    color: var(--text_secondary);
    font-size: min(var(--font_size_2), 16px);
    line-height: min(var(--line_height_2), 22px);
    margin-top: 4px;
  }

  /* 隐藏 */
  .hidden {
    display: none !important;
  }

  /* 禁用 */
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  /* 选择框按钮-文本 */
  .q-pulldown-menu-button .content {
    width: 80px;
  }

  /* 选择框按钮-图标 */
  .q-pulldown-menu-button .icon {
    width: 16px;
    height: 16px;
  }

  /* 选择框选项菜单 */
  .q-context-menu {
    z-index: 4000;
    margin-top: 5px;
    width: 122px;
  }

  /* 选择框选项菜单-图标 */
  .q-context-menu .icon {
    display: none;
    width: 1em;
    height: 1em;
  }

  /* 选择框选项菜单-选择后图标 */
  .q-context-menu .selected .icon {
    display: block !important;
  }

  .q-button--danger {
    background-color: var(--btn-danger-bg);
    border-color: var(--btn-danger-border);
    color: var(--btn-danger-textcolor);
    transition: 150ms;
    &:hover {
      background-color: var(--btn-hover-danger-bg);
      border-color: var(--btn-hover-danger-border);
      color: var(--btn-hover-danger-textcolor);
    }
    &:active {
      background-color: var(--btn-active-danger-bg);
      border-color: var(--btn-active-danger-border);
      color: var(--btn-active-danger-textcolor);
    }
  }
  red {
    color: red;
    font-weight: bold;
    margin: 0 2px;
  }
  .ruls-list {
    width: 100%;
    height: auto;
    .ruls-item {
      width: 100%;
      height: 60px;
      margin-bottom: 8px;
      border: solid 1px rgba(127, 127, 127, 0.3);
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 0 16px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover .ruls-control {
        opacity: 1;
      }
      &:first-child {
        .ruls-control {
          div:first-child {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
      &:last-child {
        .ruls-control {
          div:last-child {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
      .left-box {
        width: calc(100% - 64px);
        height: 100%;
        padding: 8px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .ruls-name {
          font-size: 12px;
          .rule-context {
            color: var(--text_secondary);
          }
        }
        .ruls-active-goroup-list {
          font-size: 12px;
          display: flex;
          .rule-group-list {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            span {
              display: block;
              line-height: 20px;
              padding: 0 6px;
              font-size: 12px;
              border-radius: 8px;
              color: var(--text_secondary_2);
              background-color: var(--emoticons-category-hover-bg);
            }
          }
        }
      }
      .ruls-control {
        opacity: 0;
        color: var(--text_secondary);
        font-size: 12px;
        transition: 150ms;
        svg {
          width: 1.5em;
          height: 1.5em;
          transition: 150ms;
        }
        div {
          width: 60px;
          height: 29px;
          margin: 4px 0;
          padding: 0 6px;
          cursor: pointer;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding-bottom: 12px;
          transition: 150ms;
          &:first-child {
            transform: rotate(180deg);
          }
          &:hover {
            color: var(--text_secondary_2);
            background-color: var(--emoticons-category-hover-bg);
            opacity: 0.8;
            svg {
              transform: translateY(4px);
            }
          }
          &:active {
            opacity: 1;
            svg {
              transform: translateY(6px);
            }
          }
        }
      }
    }
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --btn-danger-bg: rgba(245, 108, 108, 0.1) !important;
    --btn-danger-border: rgba(245, 108, 108, 0.3) !important;
    --btn-danger-textcolor: rgba(245, 108, 108, 1) !important;

    --btn-hover-danger-bg: rgba(245, 108, 108, 1) !important;
    --btn-hover-danger-border: rgba(245, 108, 108, 1) !important;
    --btn-hover-danger-textcolor: rgba(255, 255, 255, 0.9) !important;

    --btn-active-danger-bg: rgb(221, 99, 99) !important;
    --btn-active-danger-border: rgb(221, 99, 99) !important;
    --btn-active-danger-textcolor: rgba(255, 255, 255, 0.9) !important;

    --text_secondary_2: rgba(0, 0, 0, 0.85);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --btn-danger-bg: rgba(245, 108, 108, 0.1) !important;
    --btn-danger-border: rgba(245, 108, 108, 0.3) !important;
    --btn-danger-textcolor: rgba(245, 108, 108, 1) !important;

    --btn-hover-danger-bg: rgba(245, 108, 108, 0.5) !important;
    --btn-hover-danger-border: rgba(245, 108, 108, 0.5) !important;
    --btn-hover-danger-textcolor: rgba(255, 255, 255, 0.9) !important;

    --btn-active-danger-bg: rgba(245, 108, 108, 0.6) !important;
    --btn-active-danger-border: rgba(245, 108, 108, 0.6) !important;
    --btn-active-danger-textcolor: rgba(255, 255, 255, 0.9) !important;

    --text_secondary_2: rgba(255, 255, 255, 0.85);
  }
}
