/* 全局禁用样式 */
.disabled {
  display: none !important;
}
/* 禁用GIF热图 */
.disabled-sticker-hot-gif {
  .sticker-panel__bar {
    .tabs-container {
      .tabs-container-item {
        pointer-events: none;
        background-color: unset !important;
        width: unset !important;
        &::after {
          top: 0;
          left: 0;
          border-radius: 6px;
          z-index: -1;
          position: absolute;
          content: "";
          height: 100%;
          width: calc(100% - 10px) !important;
          transition: background 300ms;
        }
        &:hover {
          background-color: unset !important;
          &::after {
            background-color: var(--overlay_hover);
          }
        }
        &:active {
          background-color: unset !important;
          &::after {
            background-color: rgba(0, 0, 0, 0.15);
          }
        }
        margin-right: 0;
        position: relative;

        &.tabs-container-item-active {
          &::after {
            background-color: var(--global-brand_standard);
          }
        }
        & > * {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: auto !important;
          margin-right: 10px;
          width: 40px;
        }
        .q-icon[title="GIF热图"] {
          display: none !important;
        }
      }
    }
  }
}
/* 禁用小红点 */
.disabled-badge {
  .q-badge {
    .q-badge-num,
    .q-badge-sub,
    .q-badge__red {
      display: none !important;
    }
  }
}
/* 修复图片预览窗口悬浮窗文本模糊 */
.image-viewer {
  .main-area__loading-tip,
  .image-viewer__tip {
    pointer-events: none;
    width: 145px !important;
    transform: none !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
  }
}
/* 修改贴图css结构 */
.message-panel {
  .sticker-panel {
    max-width: 600px !important;
    .sticker-panel__pages {
      width: 100% !important;
    }
    .tabs-container {
      .tabs-container-item {
        width: unset !important;
        .q-icon,
        div.tabs-container-item-img {
          text-align: center;
          width: 40px !important;
        }
      }
    }
  }
}
/* 消息列表时间元素样式 */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(0, 0, 0, 0.8);
    --background-color-cb: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.8);
    --background-color-cb: #262626;
  }
}

// 时间显示原本样式预处理

// 插入元素通用调整
.message-container {
  &:hover {
    .message-content-replace,
    .bubble-outside,
    .bubble-inside {
      visibility: visible !important;
    }
    // 内部气泡的兼容样式
    .bubble-inside {
      &.compatible-time {
        right: 46px;
        padding-right: 0;
        border-radius: 4px 0 0 4px;
      }
      &.compatible-recall {
        width: 42px;
        padding-left: 4px;
        border-radius: 0 4px 4px 0;
      }
    }
    // 外部气泡的兼容样式
    .bubble-outside {
      &.compatible-time {
        width: 86px;
        text-align: left;
      }
      &.compatible-recall {
        z-index: 100;
        left: calc(100% + 44px);
        &::after {
          display: none;
        }
      }
    }
  }
  .mix-message__inner {
  }
  .bubble-outside {
    left: calc(100% + 4px);
    &.compatible-replace {
      border-radius: 50px 0 0 50px;
      padding-right: 2px;
      width: 42px;
      background-color: transparent;
      box-shadow: unset;
      &::after {
        display: none !important;
      }
    }
  }
  .message-content-replace {
    left: calc(100% + 6px);
    &.compatible-time {
      left: calc(100% + 46px);
      &::after {
        width: calc(42px + 24px);
        left: -42px;
      }
    }
  }
  &.message-container--self {
    .bubble-outside {
      left: unset;
      right: calc(100% + 4px);
      &.compatible-replace {
        right: calc(100% + 28px);
        border-radius: 50px 0 0 50px;
        padding-right: 2px;
      }
      &.compatible-recall {
        left: unset;
        right: calc(100% + 8px);
      }
    }
    .message-content-replace {
      left: unset;
      right: calc(100% + 6px);
    }
  }
  .message-content__wrapper {
    overflow: unset !important;
    position: relative;
    // 红包卡片微调
    .wallet-message__container {
      bottom: -26px;
    }
    // 合并转发消息
    .count {
      position: relative;
      .embed {
        &::after {
          opacity: 0.8 !important;
          bottom: 0;
        }
      }
    }
    // 默认文件
    .normal-file.file-element {
      .file-info {
        position: relative;
        .embed {
          pointer-events: auto;
          &::after {
            opacity: 0.5 !important;
            bottom: 0;
          }
        }
      }
    }
    // 图片文件
    .file-info-mask p:last-child {
      position: relative;
      .embed {
        pointer-events: auto;
        &::after {
          opacity: 0.8 !important;
          bottom: 0;
        }
      }
      pointer-events: auto;
    }
  }
}

// 时间显示样式
.lite-tools-time {
  user-select: none;
  &.embed {
    right: 0px;
    float: right;
    font-size: 12px;
    line-height: 13px;
    width: auto;
    text-align: right;
    margin-left: 6px;
    visibility: hidden;
    user-select: none;
    &::after {
      content: attr(time);
      visibility: visible;
      position: absolute;
      display: block;
      width: 100%;
      text-align: right;
      font-size: 12px;
      line-height: 11px;
      bottom: 0;
      right: 0;
      opacity: 0.6;
    }
  }
  &.bubble-inside {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 6px;
    color: #ffffff;
    font-size: 12px;
    width: 44px;
    text-align: center;
    line-height: 14px;
    border-radius: 4px;
    visibility: hidden;
  }
  &.bubble-outside {
    white-space: nowrap;
    position: absolute;
    padding: 4px 8px;
    color: var(--text-color);
    opacity: var(--opacity-1, 0.8);
    font-size: 12px;
    line-height: 14px;
    width: 48px;
    text-align: center;
    z-index: 10;
    visibility: hidden;
    bottom: 0;
    &::after {
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 50px;
      box-shadow: var(--box-shadow, unset);
      background-color: var(--background-color-05, var(--background-color-cb));
      backdrop-filter: blur(28px);
    }
  }
}

// 撤回样式
.lite-tools-recall {
  user-select: none;
  &.embed {
    right: 0px;
    float: right;
    font-size: 12px;
    line-height: 12px;
    margin-left: 6px;
    visibility: hidden;
    user-select: none;
    &::after {
      content: attr(data-recall);
      visibility: visible;
      position: absolute;
      display: block;
      font-size: 12px;
      line-height: 11px;
      bottom: 0;
      right: 0;
      opacity: 0.6;
    }
    &.compatible-time {
      margin-left: 2px;
    }
    &.compatible-time::after {
      right: 34px;
    }
  }
  &.bubble-inside {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 6px;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    border-radius: 4px;
  }
  &.bubble-outside {
    white-space: nowrap;
    position: absolute;
    padding: 4px 8px;
    color: var(--text-color);
    opacity: var(--opacity-1, 0.8);
    font-size: 12px;
    line-height: 14px;
    width: 52px;
    text-align: center;
    z-index: 9;
    bottom: 0;
    &::after {
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 50px;
      box-shadow: var(--box-shadow, unset);
      background-color: var(--background-color-05, var(--background-color-cb));
      backdrop-filter: blur(28px);
    }
  }
}

// 如果消息被标记为撤回内容，则隐藏复读按钮
.ml-item.lite-tools-recall-msg {
  .message-content-replace {
    display: none !important;
  }
}

// 复读样式
.message-content-replace {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  box-sizing: border-box;
  letter-spacing: -2px;
  text-indent: -2px;
  font-size: 12px;
  width: 22px;
  height: 22px;
  position: absolute;
  line-height: 14px;
  bottom: 0;
  cursor: pointer;
  visibility: hidden;
  &::after {
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    content: "";
    box-shadow: var(--box-shadow, unset);
    background-color: var(--background-color-05, var(--background-color-cb));
    backdrop-filter: blur(28px);
  }
  &.compatible-time {
    border-radius: 0 50px 50px 0;
    text-indent: -4px;
  }
}

.merge-display {
  .merge {
    .message__timestamp {
      display: none;
    }
    .message {
      padding-bottom: 0 !important;
    }
    &.merge-main {
      .message-container {
        transition: unset !important;
      }
    }
    &.merge-child {
      .avatar-span {
        visibility: hidden !important;
      }
      .user-name.no-copy.text-ellipsis {
        display: none !important;
      }
      .message-container {
        transition: unset !important;
        padding-top: 0 !important;
        margin-top: -2px;
      }
    }
  }
}

// 头像黏贴消息框效果
.avatar-sticky {
  &.avatar-end {
    .avatar-span {
      align-self: end !important;
    }
    &.merge-message {
      .avatar {
        align-self: end !important;
      }
    }
  }
  .avatar-span {
    position: sticky !important;
    top: 10px !important;
    bottom: 10px !important;
  }
  .ml-root.q-scroll-view {
    .ml-list,
    .avatar-span {
      overflow: unset !important;
    }
  }
}

.merge-message {
  .ml-root.q-scroll-view {
    .ml-item {
      &.merge {
        &.merge-main {
          padding-top: 15px;
          .avatar-span {
            position: absolute !important;
            display: grid;
            top: 0 !important;
            .avatar {
              position: sticky !important;
              top: 10px !important;
              bottom: 10px !important;
            }
          }
        }
        &.merge-child {
          .user-name {
            display: none !important;
          }
          .avatar-span {
            display: none !important;
          }
        }
      }
    }
  }
  .chat-msg-area__vlist .virtual-scroll-area .ml-list.list {
    .ml-item:first-child {
      margin-bottom: 10px;
    }
  }
  .message {
    padding-bottom: 0 !important;
    .message-container {
      padding-bottom: 4px;
    }
    .message__timestamp {
      display: none;
    }
    .message-container {
      padding-top: 0;
    }
  }
}
