@charset "UTF-8";
/* 全局禁用样式 */
.LT-disabled {
  display: none !important;
}

.lite-tools-keywordReminder {
  padding: 5.5px 16px;
  box-shadow: var(--lt-box-shadow, rgba(0, 0, 0, 0.04) 0px 2px 4px);
  border: solid 1px transparent;
  position: absolute;
  right: 0;
  top: 40px;
  overflow: hidden;
  border-radius: 50px;
  backdrop-filter: blur(8px);
  background-color: var(--lt-background-color-05, var(--bg_top_light));
  color: var(--feedback_warning, var(--brand_standard));
  min-width: 40px;
  font-size: 12px;
  margin: 12px;
  text-align: center;
  cursor: pointer;
}

/* 禁用小红点 */
.disabled-badge .q-badge .q-badge-num,
.disabled-badge .q-badge .q-badge-sub,
.disabled-badge .q-badge .q-badge__red {
  display: none !important;
}

.lite-tools-toast .lite-tools-toast-item {
  opacity: 0;
  transform: translateY(-30px);
  height: 0;
  transition: 200ms;
  position: relative;
}
.lite-tools-toast .lite-tools-toast-item.lite-tools-toast-show {
  opacity: 1;
  height: 62px;
  transform: translateY(0);
}

.remove-vip-name .vip-name {
  color: unset !important;
}

.image-auto-width .message-content__wrapper .msg-content-container {
  max-width: var(--img-max-width-2) !important;
}
.image-auto-width .message-content__wrapper .msg-content-container .image.pic-element.max-width {
  width: unset !important;
  height: unset !important;
}

/* 修复图片预览窗口悬浮窗文本模糊 */
.image-viewer .main-area__loading-tip,
.image-viewer .image-viewer__tip {
  pointer-events: none;
  width: 145px !important;
  transform: none !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
}

/* 消息列表时间元素样式 */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(0, 0, 0, 0.8);
    --background-color-cb: #ffffff;
    --emoticons-folder-name-color: rgba(125, 125, 125, 0.8);
    --emoticons-folder-icon-list: #f7f7f7;
    --emoticons-main-bf: blur(32px)
      url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg"> <filter id="acrylic"> <feColorMatrix values="0.000  0.000  0.000  0.000  0.988 0.000  0.000  0.000  0.000  0.988 0.000  0.000  0.000  0.000  0.988 0.000  0.000  0.000  0.850  0.000" result="lumi" /> <feBlend in="lumi" in2="SourceGraphic" mode="luminosity" result="f1" /> <feColorMatrix in="SourceGraphic" values="0.000  0.000  0.000  0.000  0.988 0.000  0.000  0.000  0.000  0.988 0.000  0.000  0.000  0.000  0.988 0.000  0.000  0.000  0.000  0.000" result="tint" /> <feBlend in="tint" in2="f1" mode="color" /> </filter> </svg>#acrylic') !important;
    --emoticons-category-hover-bg: rgb(150, 150, 150, 0.15);
    --emoticons-category-full-bg: rgba(255, 255, 255, 0.6);
    --context-menu-bg: #ffffff;
    --context-menu-hover: #f5f5f5;
    --context-menu-active: #e0e0e0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.8);
    --background-color-cb: #262626;
    --emoticons-folder-name-color: rgba(255, 255, 255, 0.7);
    --emoticons-folder-icon-list: #2e2e2e;
    --emoticons-main-bf: blur(32px)
      url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg"> <filter id="acrylic"> <feColorMatrix values="0.000  0.000  0.000  0.000  0.172 0.000  0.000  0.000  0.000  0.172 0.000  0.000  0.000  0.000  0.172 0.000  0.000  0.000  0.960  0.000" result="lumi" /> <feBlend in="lumi" in2="SourceGraphic" mode="luminosity" result="f1" /> <feColorMatrix in="SourceGraphic" values="0.000  0.000  0.000  0.000  0.172 0.000  0.000  0.000  0.000  0.172 0.000  0.000  0.000  0.000  0.172 0.000  0.000  0.000  0.150  0.000" result="tint" /> <feBlend in="tint" in2="f1" mode="color" /> </filter> </svg>#acrylic') !important;
    --emoticons-category-hover-bg: rgb(255, 255, 255, 0.15);
    --emoticons-category-full-bg: rgba(0, 0, 0, 0.6);
    --context-menu-bg: #303030;
    --context-menu-hover: #404040;
    --context-menu-active: #282828;
  }
}
.lite-tools-slot {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lite-tools-slot .lite-tools-recall.custom-color {
  opacity: 1 !important;
}
.lite-tools-slot .lite-tools-recall.custom-color::after {
  opacity: 1 !important;
}
.lite-tools-slot.embed-slot {
  right: 0px;
  float: right;
  font-size: 12px;
  line-height: 13px;
  text-align: right;
  visibility: hidden;
  width: auto;
  user-select: none;
}
.lite-tools-slot.embed-slot .lite-tools-time {
  right: 0px;
  float: right;
  font-size: 12px;
  line-height: 13px;
  width: auto;
  text-align: right;
  visibility: hidden;
  user-select: none;
  margin-left: 3px;
}
.lite-tools-slot.embed-slot .lite-tools-time:first-child {
  margin-left: 6px;
}
.lite-tools-slot.embed-slot .lite-tools-time::after {
  content: attr(time);
  visibility: visible;
  position: absolute;
  display: block;
  width: auto;
  text-align: right;
  font-size: 12px;
  line-height: 11px;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}
.lite-tools-slot.embed-slot .lite-tools-recall {
  font-size: 12px;
  line-height: 12px;
  margin-left: 6px;
  visibility: hidden;
  user-select: none;
}
.lite-tools-slot.embed-slot .lite-tools-recall:last-child::after {
  right: var(--offsetRight, 0);
}
.lite-tools-slot.embed-slot .lite-tools-recall::after {
  content: attr(data-recall);
  visibility: visible;
  position: absolute;
  display: block;
  right: calc(var(--offsetRight, 0) - 3px);
  font-size: 12px;
  line-height: 11px;
  opacity: 0.6;
  bottom: 0;
}
.lite-tools-slot.inside-slot {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 12px;
  color: #ffffff;
  width: auto;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 14px;
  border-radius: 4px;
}
.lite-tools-slot.inside-slot .lite-tools-time {
  text-align: center;
  padding: 4px 6px;
  display: none;
}
.lite-tools-slot.inside-slot .lite-tools-recall {
  padding: 4px 6px;
}
.lite-tools-slot.outside-slot {
  color: var(--text-color);
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  z-index: 10;
  position: relative;
  white-space: nowrap;
  visibility: hidden;
}
.lite-tools-slot.outside-slot.recall-tag {
  visibility: visible;
}
.lite-tools-slot.outside-slot.recall-tag .lite-tools-time {
  display: none;
}
.lite-tools-slot.outside-slot:not(.recall-tag).fix-padding-left .lite-tools-time {
  padding-right: 0;
}
.lite-tools-slot.outside-slot:not(.recall-tag).fix-padding-left .message-content-replace {
  padding-left: 6px;
}
.lite-tools-slot.outside-slot:not(.recall-tag).fix-padding-right .lite-tools-time {
  padding-left: 0;
}
.lite-tools-slot.outside-slot:not(.recall-tag).fix-padding-right .message-content-replace {
  padding-right: 6px;
}
.lite-tools-slot.outside-slot:last-child {
  margin-left: 6px;
}
.lite-tools-slot.outside-slot:first-child {
  margin-right: 6px;
}
.lite-tools-slot.outside-slot::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  box-shadow: var(--box-shadow, unset);
  background-color: var(--background-color-05, var(--background-color-cb));
  backdrop-filter: blur(28px);
}
.lite-tools-slot.outside-slot .lite-tools-time {
  text-align: center;
  padding: 4px 8px;
  visibility: hidden;
  opacity: 0.8;
}
.lite-tools-slot.outside-slot .lite-tools-recall {
  padding: 4px 8px;
  opacity: 0.8;
}
.lite-tools-slot.outside-slot .message-content-replace {
  padding: 4px 8px;
  cursor: pointer;
}

.user-name .lite-tools-time {
  margin: 0 4px;
}
.user-name .lite-tools-time.self-and-tag {
  margin: 0;
}

.message-container {
  position: relative;
  transition-duration: unset !important;
}
.message-container .message-content__wrapper {
  align-items: flex-end;
}
.message-container .forward-msg .count {
  position: relative;
}
.message-container:hover .lite-tools-slot.inside-slot .lite-tools-time {
  display: block;
}
.message-container:hover .lite-tools-slot.inside-slot .lite-tools-recall:not(:last-child) {
  padding-right: 0;
}
.message-container:hover .lite-tools-slot.outside-slot {
  visibility: visible;
}
.message-container:hover .lite-tools-slot.outside-slot.recall-tag .lite-tools-time {
  display: block;
}
.message-container:hover .lite-tools-slot.outside-slot .lite-tools-time {
  visibility: visible;
}
.message-container:hover .lite-tools-slot.outside-slot .lite-tools-recall:not(:last-child) {
  padding-right: 0;
}
.message-container:hover .message-content-replace.single {
  visibility: visible;
}
.message-container .message-content__wrapper {
  overflow: unset !important;
}
.message-container .message-content__wrapper .normal-file.file-element .file-info {
  position: relative;
}
.message-container .message-content__wrapper .file-info-mask p:last-child {
  position: relative;
}

.ml-item.lite-tools-recall-msg .message-content-replace {
  display: none !important;
}

.message-content-replace.single {
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  box-sizing: border-box;
  letter-spacing: -2px;
  text-indent: -2px;
  font-size: 12px;
  width: 22px;
  min-width: 22px;
  height: 22px;
  line-height: 14px;
  visibility: hidden;
  margin: 0 6px;
}
.message-content-replace.single::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  box-shadow: var(--box-shadow, unset);
  background-color: var(--background-color-05, var(--background-color-cb));
  backdrop-filter: blur(28px);
}

.avatar-sticky.avatar-end .avatar-span {
  align-self: end !important;
}
.avatar-sticky.avatar-end.merge-message .avatar {
  align-self: end !important;
}
.avatar-sticky .avatar-span {
  position: sticky !important;
  top: 10px !important;
  bottom: 10px !important;
}
.avatar-sticky .ml-root.q-scroll-view .ml-list,
.avatar-sticky .ml-root.q-scroll-view .avatar-span {
  overflow: unset !important;
}

.merge-message .ml-root.q-scroll-view .ml-item.merge.merge-main {
  padding-top: 15px;
}
.merge-message .ml-root.q-scroll-view .ml-item.merge.merge-main .avatar-span {
  position: absolute !important;
  display: grid;
  top: 0 !important;
}
.merge-message .ml-root.q-scroll-view .ml-item.merge.merge-main .avatar-span .avatar {
  position: sticky !important;
  top: 10px !important;
  bottom: 10px !important;
}
.merge-message .ml-root.q-scroll-view .ml-item.merge.merge-child .user-name {
  display: none !important;
}
.merge-message .ml-root.q-scroll-view .ml-item.merge.merge-child .avatar-span {
  display: none !important;
}
.merge-message .chat-msg-area__vlist .virtual-scroll-area .ml-list.list .ml-item:first-child {
  margin-bottom: 10px;
}
.merge-message .message {
  padding-bottom: 0 !important;
}
.merge-message .message .message-container {
  padding-top: 0;
  padding-bottom: 4px;
}
.merge-message .message .message__timestamp {
  display: none;
}

.merge-message-keep-time .message__timestamp {
  display: block !important;
}

.lite-tools-showLocalEmoticons .lite-tools-bar {
  display: flex !important;
}

.chat-func-bar .func-bar:last-child {
  display: flex !important;
}

.lite-tools-bar {
  align-items: center;
  display: none;
  margin: 0px 8px;
  position: relative;
}
.lite-tools-bar.position-left .commonly-emoticons-panel,
.lite-tools-bar.position-left .lite-tools-local-emoticons-main {
  transform-origin: left bottom;
  right: unset;
  left: -40%;
}
.lite-tools-bar.position-left .lite-tools-q-tooltips__content {
  left: 80%;
}
.lite-tools-bar .lite-tools-q-tooltips {
  align-items: center;
  display: flex;
}
.lite-tools-bar .lite-tools-q-tooltips:hover .lite-tools-q-icon {
  color: var(--brand_standard);
}
.lite-tools-bar .lite-tools-q-tooltips:hover .lite-tools-q-tooltips__content {
  transition-delay: 0.2s;
  visibility: visible;
}
.lite-tools-bar .lite-tools-q-icon {
  color: var(--icon_primary);
  width: 20.5px;
  height: 20px;
}
.lite-tools-bar .lite-tools-q-tooltips__content {
  position: relative;
  left: 50%;
  transform: translateY(30px) translateX(-50%);
  background-clip: padding-box;
  background-color: var(--bg_top_light);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: var(--shadow_bg_top);
  position: absolute;
  visibility: hidden;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  width: fit-content;
  font-style: inherit;
  font-weight: inherit;
  padding: 4px 7px;
  font-size: 13px;
  z-index: 3100;
}

.full-screen-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--emoticons-category-full-bg);
  z-index: 3200;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  transition: 300ms;
  opacity: 0;
}
.full-screen-preview.show {
  opacity: 1;
}
.full-screen-preview img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.lite-tools-local-emoticons-main,
.commonly-emoticons-panel {
  position: absolute;
  width: 332px;
  height: 450px;
  max-height: calc(100vh - var(--inputAreaHeight) - 66px - 20px);
  background-color: var(--background-color-cb);
  z-index: 2000;
  bottom: 42px;
  right: -80%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 12px;
  transition: transform 150ms, opacity 150ms;
  transform: translateY(10px) scale(0.95);
  transform-origin: right bottom;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  padding-bottom: 36px;
  z-index: 1000;
}
.lite-tools-local-emoticons-main.commonly-emoticons-panel,
.commonly-emoticons-panel.commonly-emoticons-panel {
  height: auto;
  padding-bottom: 0;
}
.lite-tools-local-emoticons-main.show,
.commonly-emoticons-panel.show {
  transform: translateY(0px) scale(1);
  opacity: 1;
  pointer-events: auto;
}
.lite-tools-local-emoticons-main.show-menu .folder-list,
.lite-tools-local-emoticons-main.show-menu .folder-icon-list,
.commonly-emoticons-panel.show-menu .folder-list,
.commonly-emoticons-panel.show-menu .folder-icon-list {
  pointer-events: none;
}
.lite-tools-local-emoticons-main.show-menu .context-menu,
.commonly-emoticons-panel.show-menu .context-menu {
  display: block;
}
.lite-tools-local-emoticons-main .context-menu,
.commonly-emoticons-panel .context-menu {
  position: absolute;
  z-index: 4000;
  top: 120px;
  left: 20px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.06);
  background-color: var(--context-menu-bg);
  box-shadow: var(--shadow_bg_middle_secondary);
  border: var(--border_secondary);
  display: none;
}
.lite-tools-local-emoticons-main .context-menu .context-menu-item,
.commonly-emoticons-panel .context-menu .context-menu-item {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.2, 0.2, 0, 1);
  transition-delay: 0s;
  transition-property: background-color;
  padding: 4px 0;
  margin: 4px 7px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}
.lite-tools-local-emoticons-main .context-menu .context-menu-item.hide,
.commonly-emoticons-panel .context-menu .context-menu-item.hide {
  display: none;
}
.lite-tools-local-emoticons-main .context-menu .context-menu-item:hover,
.commonly-emoticons-panel .context-menu .context-menu-item:hover {
  background-color: var(--context-menu-hover);
}
.lite-tools-local-emoticons-main .context-menu .context-menu-item:active,
.commonly-emoticons-panel .context-menu .context-menu-item:active {
  background-color: var(--context-menu-active);
}
.lite-tools-local-emoticons-main .context-menu .context-menu-item .context-menu-item__text,
.commonly-emoticons-panel .context-menu .context-menu-item .context-menu-item__text {
  font-size: 14px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  line-height: 20px;
}
.lite-tools-local-emoticons-main .folder-list,
.lite-tools-local-emoticons-main .folder-list-commonly,
.commonly-emoticons-panel .folder-list,
.commonly-emoticons-panel .folder-list-commonly {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
}
.lite-tools-local-emoticons-main .folder-list .folder-item,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item,
.commonly-emoticons-panel .folder-list .folder-item,
.commonly-emoticons-panel .folder-list-commonly .folder-item {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-name,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-name,
.commonly-emoticons-panel .folder-list .folder-item .category-name,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-name {
  width: 100%;
  padding: 0 6px;
  line-height: 28px;
  font-size: 14px;
  color: var(--emoticons-folder-name-color);
  background-color: var(--background-color-cb);
  font-weight: bold;
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-list,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-list,
.commonly-emoticons-panel .folder-list .folder-item .category-list,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-list {
  width: 100%;
  padding: 0 6px 6px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-list .category-item,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-list .category-item,
.commonly-emoticons-panel .folder-list .folder-item .category-list .category-item,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-list .category-item {
  width: var(--category-item-size);
  height: var(--category-item-size);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-list .category-item:hover,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-list .category-item:hover,
.commonly-emoticons-panel .folder-list .folder-item .category-list .category-item:hover,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-list .category-item:hover {
  background-color: var(--emoticons-category-hover-bg);
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-list .category-item .sticker-preview,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-list .category-item .sticker-preview,
.commonly-emoticons-panel .folder-list .folder-item .category-list .category-item .sticker-preview,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-list .category-item .sticker-preview {
  width: 100%;
  height: 100%;
  font-size: 0;
  box-sizing: border-box;
  padding: 4px;
  cursor: pointer;
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-list .category-item .sticker-preview.active,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-list .category-item .sticker-preview.active,
.commonly-emoticons-panel .folder-list .folder-item .category-list .category-item .sticker-preview.active,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-list .category-item .sticker-preview.active {
  background-color: var(--emoticons-category-hover-bg);
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-list .category-item .sticker-preview img,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-list .category-item .sticker-preview img,
.commonly-emoticons-panel .folder-list .folder-item .category-list .category-item .sticker-preview img,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-list .category-item .sticker-preview img {
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lite-tools-local-emoticons-main .folder-list .folder-item .category-list .category-item .skiter-name,
.lite-tools-local-emoticons-main .folder-list-commonly .folder-item .category-list .category-item .skiter-name,
.commonly-emoticons-panel .folder-list .folder-item .category-list .category-item .skiter-name,
.commonly-emoticons-panel .folder-list-commonly .folder-item .category-list .category-item .skiter-name {
  display: none;
}
.lite-tools-local-emoticons-main .folder-icon-list,
.commonly-emoticons-panel .folder-icon-list {
  width: 100%;
  height: 36px;
  z-index: 100;
  background-color: var(--emoticons-folder-icon-list);
  position: absolute;
  bottom: 0;
  left: 0;
}
.lite-tools-local-emoticons-main .folder-icon-list .folder-scroll,
.commonly-emoticons-panel .folder-icon-list .folder-scroll {
  width: 36px;
  height: 332px;
  transform-origin: top left;
  transform: translateY(36px) rotate(-90deg);
  box-sizing: border-box;
  padding: 3px;
  overflow-y: auto;
}
.lite-tools-local-emoticons-main .folder-icon-list .folder-scroll .folder-icon-item,
.commonly-emoticons-panel .folder-icon-list .folder-scroll .folder-icon-item {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  padding: 2px;
  transform: rotate(90deg);
  margin-bottom: 3px;
}
.lite-tools-local-emoticons-main .folder-icon-list .folder-scroll .folder-icon-item:last-child,
.commonly-emoticons-panel .folder-icon-list .folder-scroll .folder-icon-item:last-child {
  margin-bottom: 0;
}
.lite-tools-local-emoticons-main .folder-icon-list .folder-scroll .folder-icon-item.active,
.commonly-emoticons-panel .folder-icon-list .folder-scroll .folder-icon-item.active {
  background-color: rgba(110, 110, 110, 0.15);
}
.lite-tools-local-emoticons-main .folder-icon-list .folder-scroll .folder-icon-item .icon-box,
.commonly-emoticons-panel .folder-icon-list .folder-scroll .folder-icon-item .icon-box {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lite-tools-local-emoticons-main .folder-icon-list .folder-scroll .folder-icon-item .icon-box img,
.commonly-emoticons-panel .folder-icon-list .folder-scroll .folder-icon-item .icon-box img {
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.lite-tools-sticker-bar {
  position: absolute;
  max-width: calc(100% - 28px);
  height: 90px;
  bottom: 10px;
  left: 8px;
  z-index: -1;
  backdrop-filter: var(--emoticons-main-bf);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 12px;
  border-radius: 8px;
  overflow: hidden;
  transition: 150ms;
  transform: translateY(5px);
  opacity: 0;
  pointer-events: none;
}
.lite-tools-sticker-bar.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.lite-tools-sticker-bar .preview-list {
  width: 90px;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 5px;
  font-size: 0;
  overflow: auto;
  transform-origin: top left;
  transform: translateY(90px) rotate(-90deg);
}
.lite-tools-sticker-bar .preview-list .preview-item {
  transform: rotate(90deg);
  width: 80px;
  height: 80px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}
.lite-tools-sticker-bar .preview-list .preview-item:hover {
  background-color: var(--emoticons-category-hover-bg);
}
.lite-tools-sticker-bar .preview-list .preview-item .sticker-preview {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.lite-tools-sticker-bar .preview-list .preview-item .sticker-preview img {
  border-radius: 8px;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lite-tools-sticker-bar .preview-list .preview-item:last-child {
  margin-bottom: 0;
}

.lite-tools-tail-tips {
  font-size: 12px;
  margin-right: 8px;
  opacity: 0.6;
}

.message-panel .two-col-layout__aside.only-avatar {
  width: 72px !important;
  width: 72px !important;
  flex-basis: 72px !important;
  --min-width-aside: 72px !important;
  --drag-width-aside: 72px !important;
}
.message-panel .two-col-layout__aside.only-avatar .list-toggler .viewport-list__inner {
  padding: 0 !important;
  gap: 0 !important;
}
.message-panel .two-col-layout__aside.only-avatar .list-toggler .viewport-list .list-item {
  border-radius: 0 !important;
  position: relative;
}
.message-panel .two-col-layout__aside.only-avatar .list-toggler .viewport-list .list-item .list-item__info {
  position: absolute;
  top: 38px;
  left: calc(50% + 15px);
  transform: translateX(-50%);
}
.message-panel .two-col-layout__aside.only-avatar .list-toggler .viewport-list .list-item .list-item__info .list-item__title {
  display: none;
}
.message-panel .two-col-layout__aside.only-avatar .list-toggler .viewport-list .list-item .list-item__info .list-item__summary .summary-main {
  display: none;
}
.message-panel .two-col-layout__aside.only-avatar .list-toggler .viewport-list .list-item .list-item__info .list-item__summary .summary-bubble {
  margin-left: 0 !important;
}

.lite-tools-context-next-icon {
  transform: translateX(8px);
}

.lite-tools-sub-context-menu {
  height: auto;
  width: auto;
  top: calc(min(var(--top) + var(--height), 100vh - 8px) - var(--height));
  left: calc(min(var(--left) + var(--width), 100vw - 8px) - var(--width));
  max-height: 70vh;
  max-width: 140px;
  position: absolute;
  z-index: 4000;
  border-radius: 3px;
  background-color: var(--context-menu-bg);
  box-shadow: var(--shadow_bg_middle_secondary);
  border: var(--border_secondary);
  overflow: hidden;
  transform: translateX(-4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms, transform 150ms;
}
.lite-tools-sub-context-menu.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
.lite-tools-sub-context-menu .lite-tools-scroll-box {
  transition: transform 100ms;
  padding: 4px 0;
}
.lite-tools-sub-context-menu .sub-context-menu-item {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.2, 0.2, 0, 1);
  transition-delay: 0s;
  transition-property: background-color;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 4px;
  line-height: 20px;
  padding: 2px 4px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space-collapse: collapse;
  text-wrap: nowrap;
}
.lite-tools-sub-context-menu .sub-context-menu-item:first-child {
  margin-top: 0;
}
.lite-tools-sub-context-menu .sub-context-menu-item:last-child {
  margin-bottom: 0;
}
.lite-tools-sub-context-menu .sub-context-menu-item:hover {
  background-color: var(--context-menu-hover);
}
.lite-tools-sub-context-menu .sub-context-menu-item:active {
  background-color: var(--context-menu-active);
}

.lite-tools-compatible-AntiRecall .message-content-replace {
  display: none !important;
}