@charset "UTF-8";
/* 全局禁用样式 */
.disabled {
  display: none !important;
}

/* 禁用滑动多选 */
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div {
  pointer-events: none !important;
}
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .gray-tip-content a,
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .gray-tip-element a {
  pointer-events: auto !important;
}
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .message .message-container .avatar,
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .message .message-container .message-content__wrapper {
  pointer-events: auto !important;
}

/* 禁用GIF热图 */
.disabled-sticker-hot-gif .sticker-panel__bar .tabs-container .tabs-container-item .q-icon[title=GIF热图] {
  display: none !important;
}

/* 禁用小红点 */
.disabled-badge .q-badge .q-badge-num,
.disabled-badge .q-badge .q-badge-sub,
.disabled-badge .q-badge .q-badge__red {
  display: none !important;
}

/* 修复图片预览窗口悬浮窗文本模糊 */
.image-viewer .main-area__loading-tip,
.image-viewer .image-viewer__tip {
  pointer-events: none;
  width: 145px !important;
  transform: none !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
}

/* 修改贴图css结构 */
.message-panel .sticker-panel {
  max-width: 600px !important;
}
.message-panel .sticker-panel .sticker-panel__pages {
  width: 100% !important;
}
.message-panel .sticker-panel .tabs-container .tabs-container-item {
  width: unset !important;
}
.message-panel .sticker-panel .tabs-container .tabs-container-item .q-icon,
.message-panel .sticker-panel .tabs-container .tabs-container-item div.tabs-container-item-img {
  text-align: center;
  width: 40px !important;
}

/* 消息列表时间元素样式 */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(0, 0, 0, 0.8);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.8);
  }
}
.show-time .q-scroll-view > div .message .message-container,
.show-time .ml-item .message .message-container {
  /* 消息块样式调整 */
  /* 其他人发的消息 */
  /* 自己发的消息 */
}
.show-time .q-scroll-view > div .message .message-container .message-content__wrapper,
.show-time .ml-item .message .message-container .message-content__wrapper {
  display: flex;
  align-items: flex-end;
  overflow: unset !important;
  /* pointer-events: none;
  & * {
    pointer-events: auto;
  } */
  /* 修复一下卡片渲染有时div和canvas大小不一致的问题 */
  /* 加入时间样式 */
  /* 移入样式 */
}
.show-time .q-scroll-view > div .message .message-container .message-content__wrapper [aria-label=卡片] > div,
.show-time .ml-item .message .message-container .message-content__wrapper [aria-label=卡片] > div {
  min-height: unset !important;
}
.show-time .q-scroll-view > div .message .message-container .message-content__wrapper .message-content-time,
.show-time .ml-item .message .message-container .message-content__wrapper .message-content-time {
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  color: var(--text-color);
  background-color: var(--background-color-05);
  backdrop-filter: blur(28px);
  padding: 4px 0;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  flex-shrink: 0;
  width: 50px;
}
.show-time .q-scroll-view > div .message .message-container .message-content__wrapper.hover-show .message-content-time,
.show-time .ml-item .message .message-container .message-content__wrapper.hover-show .message-content-time {
  transition: 300ms;
  font-size: 0;
  width: 0;
  opacity: 0;
  margin: 0;
}
.show-time .q-scroll-view > div .message .message-container .message-content__wrapper.hover-show:hover .message-content-time,
.show-time .ml-item .message .message-container .message-content__wrapper.hover-show:hover .message-content-time {
  width: 50px;
  font-size: 12px;
  opacity: 1;
}
.show-time .q-scroll-view > div .message .message-container:not(.message-container--self) .message-content-time,
.show-time .ml-item .message .message-container:not(.message-container--self) .message-content-time {
  margin-left: 4px;
}
.show-time .q-scroll-view > div .message .message-container:not(.message-container--self) .hover-show:hover .message-content-time,
.show-time .ml-item .message .message-container:not(.message-container--self) .hover-show:hover .message-content-time {
  margin-left: 4px;
}
.show-time .q-scroll-view > div .message .message-container.message-container--self .message-content-time,
.show-time .ml-item .message .message-container.message-container--self .message-content-time {
  margin-right: 4px;
}
.show-time .q-scroll-view > div .message .message-container.message-container--self .hover-show:hover .message-content-time,
.show-time .ml-item .message .message-container.message-container--self .hover-show:hover .message-content-time {
  margin-right: 4px;
}