/* 全局禁用样式 */
.disabled {
  display: none !important;
}
/* 禁用滑动多选 */
.disabled-slide-multiple-selection {
  .group-chat {
    .chat-msg-area {
      .ml-list.list > div {
        pointer-events: none !important;
        .gray-tip-content,
        .gray-tip-element {
          a {
            pointer-events: auto !important;
          }
        }
        .message .message-container {
          .avatar,
          .message-content__wrapper {
            pointer-events: auto !important;
          }
        }
      }
    }
  }
}
/* 禁用GIF热图 */
.disabled-sticker-hot-gif {
  .sticker-panel__bar {
    .tabs-container {
      .tabs-container-item {
        .q-icon[title="GIF热图"] {
          display: none !important;
        }
      }
    }
  }
}
/* 禁用小红点 */
.disabled-badge {
  .q-badge {
    .q-badge-num,
    .q-badge-sub,
    .q-badge__red {
      display: none !important;
    }
  }
}
/* 修复图片预览窗口悬浮窗文本模糊 */
.image-viewer {
  .main-area__loading-tip,
  .image-viewer__tip {
    pointer-events: none;
    width: 145px !important;
    transform: none !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
  }
}
/* 修改贴图css结构 */
.message-panel {
  .sticker-panel {
    max-width: 600px !important;
    .sticker-panel__pages {
      width: 100% !important;
    }
    .tabs-container {
      .tabs-container-item {
        width: unset !important;
        .q-icon,
        div.tabs-container-item-img {
          text-align: center;
          width: 40px !important;
        }
      }
    }
  }
}
/* 消息列表时间元素样式 */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(0, 0, 0, 0.8);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.8);
  }
}

// 时间显示原本样式预处理
// 默认文件
.normal-file.file-element {
  .file-info {
    position: relative;
    .embed {
      pointer-events: auto;
      &::after {
        opacity: 0.5 !important;
      }
    }
  }
}
// 图片文件
.file-info-mask p:last-child {
  position: relative;
  .embed {
    pointer-events: auto;
    &::after {
      opacity: 0.8 !important;
    }
  }
  pointer-events: auto;
}
// 合并转发消息
.message-content__wrapper .count {
  position: relative;
}

// 时间样式通用调整
.message-container {
  &:hover {
    .bubble-outside,
    .bubble-inside {
      visibility: visible !important;
    }
  }
  .bubble-outside {
    left: calc(100% + 4px);
  }
  &.message-container--self {
    .bubble-outside {
      left: unset !important;
      right: calc(100% + 4px);
    }
  }
  .message-content__wrapper {
    overflow: unset !important;
    position: relative;
    // 红包卡片微调
    .wallet-message__container {
      bottom: -26px;
    }
    .bubble-outside {
      left: calc(100% + 4px);
      bottom: 0;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

// 时间显示样式
.lite-tools-time {
  user-select: none;
  &.embed {
    right: 0px;
    float: right;
    font-size: 12px;
    line-height: 14px;
    margin-left: 6px;
    visibility: hidden;
    user-select: none;
    &::after {
      content: attr(time);
      visibility: visible;
      position: absolute;
      display: block;
      font-size: 12px;
      line-height: 14px;
      bottom: -2px;
      right: 0;
      opacity: 0.5;
    }
  }
  &.bubble-inside {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 6px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 4px;
    visibility: hidden;
  }
  &.bubble-outside {
    white-space: nowrap;
    position: absolute;
    background-color: var(--background-color-05, rgba(0, 0, 0, 0.3));
    padding: 4px 6px;
    color: var(--text-color-05, #ffffff);
    opacity: var(--opacity-1, 0.5);
    box-shadow: var(--box-shadow, unset);
    font-size: 12px;
    border-radius: 4px;
    visibility: hidden;
    overflow: hidden;
    &::after {
      z-index: -1;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      backdrop-filter: blur(28px);
    }
  }
}

.show-replace {
  .message-container {
    .message-content__wrapper {
      .message-content-replace {
        transition: 300ms;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--text-color);
        box-sizing: border-box;
        background-color: var(--background-color-05);
        backdrop-filter: blur(28px);
        letter-spacing: -2px;
        text-indent: -2px;
        box-shadow: var(--box-shadow);
        display: flex;
        font-size: 0;
        width: 0;
        height: 0;
      }
      &:hover .message-content-replace {
        font-size: 12px;
        width: 23px;
        height: 23px;
      }
    }

    &:not(.message-container--self) {
      .lite-tools-side-container {
        align-items: flex-start;
      }
      .message-content__wrapper:hover {
        .message-content-replace {
          margin-left: 4px;
        }
      }
    }

    &.message-container--self {
      .message-content__wrapper:hover {
        .message-content-replace {
          margin-right: 4px;
        }
      }
    }
  }
}
