@charset "UTF-8";
/* 全局禁用样式 */
.disabled {
  display: none !important;
}

/* 禁用滑动多选 */
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div {
  pointer-events: none !important;
}
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .gray-tip-content a,
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .gray-tip-element a {
  pointer-events: auto !important;
}
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .message .message-container .avatar,
.disabled-slide-multiple-selection .group-chat .chat-msg-area .ml-list.list > div .message .message-container .message-content__wrapper {
  pointer-events: auto !important;
}

/* 禁用GIF热图 */
.disabled-sticker-hot-gif .sticker-panel__bar .tabs-container .tabs-container-item .q-icon[title=GIF热图] {
  display: none !important;
}

/* 禁用小红点 */
.disabled-badge .q-badge .q-badge-num,
.disabled-badge .q-badge .q-badge-sub,
.disabled-badge .q-badge .q-badge__red {
  display: none !important;
}

/* 修复图片预览窗口悬浮窗文本模糊 */
.image-viewer .main-area__loading-tip,
.image-viewer .image-viewer__tip {
  pointer-events: none;
  width: 145px !important;
  transform: none !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto !important;
}

/* 修改贴图css结构 */
.message-panel .sticker-panel {
  max-width: 600px !important;
}
.message-panel .sticker-panel .sticker-panel__pages {
  width: 100% !important;
}
.message-panel .sticker-panel .tabs-container .tabs-container-item {
  width: unset !important;
}
.message-panel .sticker-panel .tabs-container .tabs-container-item .q-icon,
.message-panel .sticker-panel .tabs-container .tabs-container-item div.tabs-container-item-img {
  text-align: center;
  width: 40px !important;
}

/* 消息列表时间元素样式 */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(0, 0, 0, 0.8);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.8);
  }
}
:root {
  --opacity-1: 0.5;
}

.normal-file.file-element .file-info {
  position: relative;
}
.normal-file.file-element .file-info .embed {
  pointer-events: auto;
}
.normal-file.file-element .file-info .embed::after {
  opacity: 0.5 !important;
}

.file-info-mask p:last-child {
  position: relative;
  pointer-events: auto;
}
.file-info-mask p:last-child .embed {
  pointer-events: auto;
}
.file-info-mask p:last-child .embed::after {
  opacity: 0.8 !important;
}

.message-content__wrapper .count {
  position: relative;
}

.message-container:hover .bubble-outside,
.message-container:hover .bubble-inside {
  visibility: visible !important;
}
.message-container .bubble-outside {
  left: calc(100% + 4px);
}
.message-container.message-container--self .bubble-outside {
  left: unset !important;
  right: calc(100% + 4px);
}
.message-container .message-content__wrapper {
  overflow: unset !important;
  position: relative;
}
.message-container .message-content__wrapper .wallet-message__container {
  bottom: -26px;
}
.message-container .message-content__wrapper .bubble-outside {
  left: calc(100% + 4px);
  bottom: 0;
  font-size: 12px;
  line-height: 14px;
}

.lite-tools-time {
  user-select: none;
}
.lite-tools-time.embed {
  right: 0px;
  float: right;
  font-size: 12px;
  line-height: 14px;
  margin-left: 6px;
  visibility: hidden;
  user-select: none;
}
.lite-tools-time.embed::after {
  content: attr(time);
  visibility: visible;
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 14px;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}
.lite-tools-time.bubble-inside {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px 6px;
  color: #ffffff;
  font-size: 12px;
  border-radius: 4px;
  visibility: hidden;
}
.lite-tools-time.bubble-outside {
  white-space: nowrap;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  background-color: var(--background-color-05);
  padding: 4px 6px;
  color: var(--text-color-05);
  opacity: var(--opacity-1);
  box-shadow: var(--box-shadow);
  font-size: 12px;
  border-radius: 4px;
  visibility: hidden;
  overflow: hidden;
}
.lite-tools-time.bubble-outside::after {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  backdrop-filter: blur(28px);
}

.show-replace .message-container .message-content__wrapper .message-content-replace {
  transition: 300ms;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  box-sizing: border-box;
  background-color: var(--background-color-05);
  backdrop-filter: blur(28px);
  /* margin-bottom: 3px; */
  letter-spacing: -2px;
  text-indent: -2px;
  box-shadow: var(--box-shadow);
  display: flex;
  font-size: 0;
  width: 0;
  height: 0;
}
.show-replace .message-container .message-content__wrapper:hover .message-content-replace {
  font-size: 12px;
  width: 23px;
  height: 23px;
}
.show-replace .message-container:not(.message-container--self) .lite-tools-side-container {
  align-items: flex-start;
}
.show-replace .message-container:not(.message-container--self) .message-content__wrapper:hover .message-content-replace {
  margin-left: 4px;
}
.show-replace .message-container.message-container--self .message-content__wrapper:hover .message-content-replace {
  margin-right: 4px;
}