@media (prefers-color-scheme: light) {
  :root {
    --lt-background-transparent: transparent;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --lt-background-transparent: transparent;
  }
}
.ark-view-message_not-support {
  background-color: unset;
}

#app.lite-tools-main .tab-container {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .recent-contact {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .recent-contact .viewport-list__inner {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .contact {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .contact .tab-header {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .contact .tab-content .q-collapse-item__header, #app.lite-tools-main .two-col-layout__aside .contact .tab-content > .list-item:not(.list-item--selected) {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__main .profile {
  background-color: unset;
}
#app.lite-tools-chat > .container {
  background: unset;
}
#app.lite-tools-forward .draggable-view__container .title {
  background: unset;
}
#app.lite-tools-forward #ml-root {
  background: unset;
}

.acrylic .lite-tools-main .sidebar-nav {
  background-color: unset;
}

.lite-tools-main.lite-tools-full-wallpaper .sidebar-nav {
  background-color: unset;
}
.lite-tools-main .tab-container {
  position: relative;
}

.lite-tools-background-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg_bottom_standard);
  font-size: 0;
}
.lite-tools-background-wallpaper.background-transparent {
  background-color: unset;
}
.lite-tools-background-wallpaper * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}