// 全局变量
:root {
}

// 亮色/暗色主题变量
@media (prefers-color-scheme: light) {
  :root {
    --lt-background-transparent: transparent;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --lt-background-transparent: transparent;
  }
}

// 移除不受支持的卡片消息背景色
.ark-view-message_not-support {
  background-color: unset;
}

// 背景透明
#app {
  // 移除主窗口背景颜色
  &.lite-tools-main {
    // 主容器
    .tab-container {
      background-color: unset;
    }
    .two-col-layout__aside {
      // 消息列表
      .recent-contact {
        background-color: unset;
        .viewport-list__inner {
          background-color: unset;
        }
      }
      // 联系人列表
      .contact {
        background-color: unset;
        .tab-header {
          background-color: unset;
        }
        // 联系人详情
        .tab-content {
          .q-collapse-item__header,
          & > .list-item:not(.list-item--selected) {
            background-color: unset;
          }
        }
      }
    }
    .two-col-layout__main {
      .profile {
        background-color: unset;
      }
    }
  }
  // 移除聊天窗口背景颜色
  &.lite-tools-chat > .container {
    background: unset;
  }
  // 移除转发窗口背景色
  &.lite-tools-forward {
    .draggable-view__container {
      .title {
        background: unset;
      }
    }
    #ml-root {
      background: unset;
    }
  }
}

// 主窗口只有在开启透明效果后才隐藏侧边栏遮罩
.acrylic {
  // 侧边栏
  .lite-tools-main {
    .sidebar-nav {
      background-color: unset;
    }
  }
}
// 或者启用覆盖侧边栏
.lite-tools-main {
  &.lite-tools-full-wallpaper {
    // 侧边栏
    .sidebar-nav {
      background-color: unset;
    }
  }
  // 调整背景元素定位
  .tab-container {
    position: relative;
  }
}

// 背景元素样式
.lite-tools-background-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg_bottom_standard);
  font-size: 0;
  &.background-transparent{
    background-color: unset;
  }
  * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
