@charset "UTF-8";
:root {
  --lt-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08) !important;
  --lt-box-radius: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    --lt-background-transparent: transparent;
    --lt-background-color-008: rgba(255, 255, 255, 0.08);
    --lt-background-color-015: rgba(255, 255, 255, 0.15);
    --lt-background-color-03: rgba(255, 255, 255, 0.3);
    --lt-background-color-05: rgba(255, 255, 255, 0.5);
    --lt-background-color-07: rgba(255, 255, 255, 0.7);
    --lt-background-color-08: rgba(255, 255, 255, 0.8);
    --lt-background-color-1: rgba(255, 255, 255, 1);
    --lt-voice-play-icon: rgba(255, 255, 255, 1);
    --lt-text-color: rgba(0, 0, 0, 0.8);
    --lt-link-url-color: rgb(45, 119, 229);
    --lt-ark-title-text-color: rgba(0, 0, 0, 0.4);
    --lt-ark-desc-text-color: rgb(34, 34, 34);
    --lt-ark-info-text-color: rgb(178, 178, 178);
    --lt-ark-border-color: rgba(0, 0, 0, 0.2);
    --lt-ark-title-color: rgb(3, 8, 26);
    --lt-ark-info-colo: rgb(135, 139, 153);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --lt-background-transparent: transparent;
    --lt-background-color-008: rgba(0, 0, 0, 0.08);
    --lt-background-color-015: rgba(0, 0, 0, 0.15);
    --lt-background-color-03: rgba(0, 0, 0, 0.3);
    --lt-background-color-05: rgba(0, 0, 0, 0.5);
    --lt-background-color-07: rgba(0, 0, 0, 0.7);
    --lt-background-color-08: rgba(0, 0, 0, 0.8);
    --lt-background-color-1: rgba(0, 0, 0, 1);
    --lt-voice-play-icon: rgba(255, 255, 255, 0.6);
    --lt-text-color: rgba(255, 255, 255, 0.8);
    --lt-link-url-color: rgb(45, 119, 229);
    --lt-ark-title-text-color: rgba(255, 255, 255, 0.4);
    --lt-ark-desc-text-color: rgb(255, 255, 255);
    --lt-ark-info-text-color: rgb(102, 102, 102);
    --lt-ark-border-color: rgba(255, 255, 255, 0.2);
    --lt-ark-title-color: rgb(255, 255, 255);
    --lt-ark-info-colo: rgb(170, 170, 180);
  }
}
#app .ark-view-message_not-support {
  background-color: unset;
}
#app.lite-tools-main .tab-container {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .recent-contact {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .recent-contact .viewport-list__inner {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .contact {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .contact .tab-header {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__aside .contact .tab-content .q-collapse-item__header, #app.lite-tools-main .two-col-layout__aside .contact .tab-content > .list-item:not(.list-item--selected) {
  background-color: unset;
}
#app.lite-tools-main .two-col-layout__main .profile {
  background-color: unset;
}
#app.lite-tools-chat > .container {
  background: unset;
}
#app.lite-tools-forward .draggable-view__container .title {
  background: unset;
}
#app.lite-tools-forward #ml-root {
  background: unset;
}

.acrylic .lite-tools-main .sidebar-nav {
  background-color: unset;
}

.lite-tools-main.lite-tools-full-wallpaper .sidebar-nav {
  background-color: unset;
}
.lite-tools-main .tab-container {
  position: relative;
}

.lite-tools-background-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg_bottom_standard);
  font-size: 0;
}
.lite-tools-background-wallpaper.background-transparent {
  background-color: unset;
}
.lite-tools-background-wallpaper * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.file-message--content {
  border-radius: var(--lt-box-radius);
  box-shadow: var(--lt-box-shadow);
}

/* 消息内容外部块 */
.message-content__wrapper {
  overflow: unset;
}

.ark-item-container .ark-view-message_not-support {
  background: unset !important;
  color: var(--lt-text-color) !important;
}

/* 统一选中文本样式颜色 */
*::selection {
  background: var(--brand_standard) !important;
}

/* 消息内容块，阻止匹配聊天记录中的元素 */
:not(.record-msg-detail) > .message .forward-msg:focus .image:after, :not(.record-msg-detail) > .message .forward-msg:focus:before,
:not(.record-msg-detail) > .message .forward-msg .image:focus:after,
:not(.record-msg-detail) > .message .msg-content-container:focus .image:after,
:not(.record-msg-detail) > .message .msg-content-container:focus:before,
:not(.record-msg-detail) > .message .msg-content-container .image:focus:after,
:not(.record-msg-detail) > .message .file-element:focus .image:after,
:not(.record-msg-detail) > .message .file-element:focus:before,
:not(.record-msg-detail) > .message .file-element .image:focus:after,
:not(.record-msg-detail) > .message .mix-message__container:focus .image:after,
:not(.record-msg-detail) > .message .mix-message__container:focus:before,
:not(.record-msg-detail) > .message .mix-message__container .image:focus:after {
  background: unset !important;
}
:not(.record-msg-detail) > .message .forward-msg:not(.wallet-message__container, .hidden-background),
:not(.record-msg-detail) > .message .msg-content-container:not(.wallet-message__container, .hidden-background),
:not(.record-msg-detail) > .message .file-element:not(.wallet-message__container, .hidden-background),
:not(.record-msg-detail) > .message .mix-message__container:not(.wallet-message__container, .hidden-background) {
  background: unset !important;
  color: var(--lt-text-color);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: var(--lt-box-shadow);
  overflow: hidden;
  backdrop-filter: blur(28px);
  /* 我的消息 */
  /* 别人的消息 */
}
:not(.record-msg-detail) > .message .forward-msg:not(.wallet-message__container, .hidden-background)::after,
:not(.record-msg-detail) > .message .msg-content-container:not(.wallet-message__container, .hidden-background)::after,
:not(.record-msg-detail) > .message .file-element:not(.wallet-message__container, .hidden-background)::after,
:not(.record-msg-detail) > .message .mix-message__container:not(.wallet-message__container, .hidden-background)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(28px);
  background-color: var(--lt-background-color-05);
  z-index: -1;
}
:not(.record-msg-detail) > .message .forward-msg:not(.wallet-message__container, .hidden-background) .text-link,
:not(.record-msg-detail) > .message .msg-content-container:not(.wallet-message__container, .hidden-background) .text-link,
:not(.record-msg-detail) > .message .file-element:not(.wallet-message__container, .hidden-background) .text-link,
:not(.record-msg-detail) > .message .mix-message__container:not(.wallet-message__container, .hidden-background) .text-link {
  color: var(--lt-link-url-color);
}
:not(.record-msg-detail) > .message .forward-msg:not(.wallet-message__container, .hidden-background) .reply-element,
:not(.record-msg-detail) > .message .msg-content-container:not(.wallet-message__container, .hidden-background) .reply-element,
:not(.record-msg-detail) > .message .file-element:not(.wallet-message__container, .hidden-background) .reply-element,
:not(.record-msg-detail) > .message .mix-message__container:not(.wallet-message__container, .hidden-background) .reply-element {
  color: var(--lt-text-color);
}

/* 修改转发消息定位方式 */
.forward-msg {
  position: relative;
}

/* 语音消息样式 */
.ptt-element__top-area .ptt-element__button {
  background: var(--brand_standard);
}
.ptt-element__top-area .ptt-element__button .q-icon {
  color: var(--lt-voice-play-icon);
}
.ptt-element__top-area .ptt-element__progress div {
  background: var(--brand_standard);
}
.ptt-element__top-area .ptt-element__duration {
  color: var(--brand_standard);
}
.ptt-element__top-area .ptt-element__duration span {
  transform: translateY(1px);
}

/* 跳转到顶部-底部 */
.chat-msg-area__tip--top-btn,
.chat-msg-area__tip--bottom {
  background-color: var(--lt-background-color-05) !important;
  box-shadow: var(--lt-box-shadow);
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(8px);
  cursor: pointer;
}
.chat-msg-area__tip--top-btn.theme-primary::after,
.chat-msg-area__tip--bottom.theme-primary::after {
  background-color: var(--brand_standard);
}

/* 小程序消息 */
.ark-msg-content-container {
  background: unset;
  font-size: 0;
}
.ark-msg-content-container ::after {
  display: none;
}

/* 工具栏项目 */
.panel-header__action .side-panel {
  background-color: var(--lt-background-color-05);
  backdrop-filter: blur(8px);
}

/* 夜间模式增强文本可阅读性 */
@media (prefers-color-scheme: dark) {
  .user-name {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .message__timestamp,
  .gray-tip-message {
    color: rgba(255, 255, 255, 0.6) !important;
  }
  .list-item__summary {
    color: rgba(255, 255, 255, 0.6) !important;
  }
  .group-box__wrapper span:not(.text--link) {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}
.lite-tools-blur-filter {
  /* 联系人列表 */
  /* 输入框 */
  /* 消息内容外部块 */
  /* 左侧消息列表 */
}
.lite-tools-blur-filter .container .contact {
  backdrop-filter: blur(8px);
}
.lite-tools-blur-filter .container .contact-profile .profile {
  backdrop-filter: blur(8px);
}
.lite-tools-blur-filter .chat-input-area {
  z-index: 1;
}
.lite-tools-blur-filter .chat-input-area::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(8px);
}
.lite-tools-blur-filter .message-content__wrapper {
  overflow: unset !important;
}
.lite-tools-blur-filter .recent-contact {
  backdrop-filter: blur(8px);
}

.lite-tools-background-visible {
  /* 群组右侧列表 */
  /* 左侧消息列表 */
}
.lite-tools-background-visible .chat-input-area {
  background: var(--lt-background-color-03);
}
.lite-tools-background-visible .group-box__wrapper {
  background-color: var(--lt-background-color-03);
}
.lite-tools-background-visible .recent-contact {
  background-color: var(--lt-background-color-03) !important;
}

.file-status .q-svg-icon {
  background-color: var(--lt-background-color-05) !important;
  backdrop-filter: blur(28px);
  cursor: pointer;
}
.file-status .q-svg-icon svg {
  transform: scale(0.8);
}

.lite-tools-slot.outside-slot::after,
.message-content-replace.single::after {
  box-shadow: var(--lt-box-shadow);
  backdrop-filter: blur(28px);
}

.lite-tools-cover-canvas {
  margin: unset !important;
}
.lite-tools-cover-canvas * {
  user-select: none;
}
.lite-tools-cover-canvas img {
  pointer-events: none;
}
.lite-tools-cover-canvas .lite-tools-ark-card {
  display: block;
}
.lite-tools-cover-canvas .ark-item-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: unset !important;
  min-width: unset !important;
  height: 100% !important;
  width: 100% !important;
  opacity: 0;
  cursor: pointer;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card {
  width: 280px;
  height: 296px;
  border-radius: 8px;
  padding-top: 12px;
  box-sizing: border-box;
  cursor: pointer;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .title {
  width: 100%;
  height: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 12px;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .title .app-icon {
  height: 16px;
  width: 16px;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .title .app-name {
  font-size: 12px;
  margin-left: 4px;
  color: var(--lt-ark-title-text-color);
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .share-title {
  padding: 0 12px;
  font-size: 14px;
  text-indent: -1px;
  color: var(--lt-ark-desc-text-color);
  margin-bottom: 4px;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .share-pic {
  padding: 0 8px;
  width: 100%;
  height: 195px;
  margin-bottom: 9px;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .share-pic img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .bottom-info {
  width: calc(100% - 20px);
  height: 30px;
  margin: 0 12px;
  font-size: 12px;
  color: var(--lt-ark-title-text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-top: solid 1px var(--lt-ark-border-color);
  padding: 0 3px;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .bottom-info .miniapp-name {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .bottom-info .miniapp-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.lite-tools-cover-canvas .lite-tools-miniapp-ark-card .bottom-info .miniapp-icon svg {
  width: 16px;
  height: 16px;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card {
  width: 251px;
  height: 136px;
  border-radius: 8px;
  padding: 13px 12px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card > .title {
  display: block;
  width: 100%;
  font-size: 14px;
  color: var(--lt-ark-title-color);
  margin-bottom: 10px;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card .desc {
  width: 100%;
  height: 52px;
  display: flex;
  font-size: 12px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card .desc .desc-text {
  color: var(--lt-ark-info-colo);
  word-break: break-all;
  line-height: 19px;
  width: 168px;
  height: 40px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card .desc .desc-img {
  width: 52px;
  height: 52px;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card .desc .desc-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card .bottom {
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: solid 1px var(--lt-ark-border-color);
  box-sizing: border-box;
  font-size: 12px;
  color: var(--lt-ark-title-text-color);
}
.lite-tools-cover-canvas .lite-tools-url-ark-card .bottom .icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.lite-tools-cover-canvas .lite-tools-url-ark-card .bottom .title {
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card {
  cursor: pointer;
  width: 260px;
  height: auto;
  border-radius: 8px;
  padding: 12px 12px 0;
  box-sizing: border-box;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .desc .user-avatar {
  width: 56px;
  height: 56px;
  margin-right: 8px;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .desc .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .desc .user-detail {
  width: 140px;
  height: auto;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .desc .user-detail .lt-user-name {
  color: var(--lt-ark-desc-text-color);
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .desc .user-detail .lt-user-uid {
  color: var(--lt-ark-title-text-color);
  display: block;
  font-size: 12px;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .bottom {
  width: 100%;
  border-top: solid 1px var(--lt-ark-border-color);
  height: 26px;
  color: var(--lt-ark-title-text-color);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 12px;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .bottom .user-icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .bottom .user-icon svg {
  width: 100%;
  height: 100%;
}
.lite-tools-cover-canvas .lite-tools-contact-ark-card .bottom .title {
  display: block;
  width: 210px;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card {
  cursor: pointer;
  width: 240px;
  height: 92px;
  border-radius: 8px;
  padding: 10px 12px 0;
  box-sizing: border-box;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .desc .troop-avatar {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .desc .troop-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .desc .troop-detail {
  width: 140px;
  height: auto;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .desc .troop-detail .troop-name {
  display: block;
  width: 100%;
  color: var(--lt-ark-desc-text-color);
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .desc .troop-detail .troop-uid {
  color: var(--lt-ark-title-text-color);
  display: block;
  font-size: 12px;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .bottom {
  width: 100%;
  border-top: solid 1px var(--lt-ark-border-color);
  height: 26px;
  color: var(--lt-ark-title-text-color);
  display: flex;
  align-items: center;
  font-size: 11px;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .bottom .user-icon {
  width: 13px;
  height: 13px;
  margin-right: 4px;
}
.lite-tools-cover-canvas .lite-tools-troopshare-ark-card .bottom .user-icon svg {
  width: 100%;
  height: 100%;
}