// 全局变量
:root {
  --lt-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08) !important;
  --lt-box-radius: 8px;
}

// 亮色/暗色主题变量
@media (prefers-color-scheme: light) {
  :root {
    --lt-background-transparent: transparent;
    --lt-background-color-008: rgba(255, 255, 255, 0.08);
    --lt-background-color-015: rgba(255, 255, 255, 0.15);
    --lt-background-color-03: rgba(255, 255, 255, 0.3);
    --lt-background-color-05: rgba(255, 255, 255, 0.5);
    --lt-background-color-07: rgba(255, 255, 255, 0.7);
    --lt-background-color-08: rgba(255, 255, 255, 0.8);
    --lt-background-color-1: rgba(255, 255, 255, 1);
    --lt-voice-play-icon: rgba(255, 255, 255, 1);
    --lt-text-color: rgba(0, 0, 0, 0.8);
    --lt-link-url-color: rgb(45, 119, 229);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --lt-background-transparent: transparent;
    --lt-background-color-008: rgba(0, 0, 0, 0.08);
    --lt-background-color-015: rgba(0, 0, 0, 0.15);
    --lt-background-color-03: rgba(0, 0, 0, 0.3);
    --lt-background-color-05: rgba(0, 0, 0, 0.5);
    --lt-background-color-07: rgba(0, 0, 0, 0.7);
    --lt-background-color-08: rgba(0, 0, 0, 0.8);
    --lt-background-color-1: rgba(0, 0, 0, 1);
    --lt-voice-play-icon: rgba(255, 255, 255, 0.6);
    --lt-text-color: rgba(255, 255, 255, 0.8);
    --lt-link-url-color: rgb(45, 119, 229);
  }
}

// 移除不受支持的卡片消息背景色
.ark-view-message_not-support {
  background-color: unset;
}

// 背景透明
#app {
  // 移除主窗口背景颜色
  &.lite-tools-main {
    // 主容器
    .tab-container {
      background-color: unset;
    }
    .two-col-layout__aside {
      // 消息列表
      .recent-contact {
        background-color: unset;
        .viewport-list__inner {
          background-color: unset;
        }
      }
      // 联系人列表
      .contact {
        background-color: unset;
        .tab-header {
          background-color: unset;
        }
        // 联系人详情
        .tab-content {
          .q-collapse-item__header,
          & > .list-item:not(.list-item--selected) {
            background-color: unset;
          }
        }
      }
    }
    .two-col-layout__main {
      .profile {
        background-color: unset;
      }
    }
  }
  // 移除聊天窗口背景颜色
  &.lite-tools-chat > .container {
    background: unset;
  }
  // 移除转发窗口背景色
  &.lite-tools-forward {
    .draggable-view__container {
      .title {
        background: unset;
      }
    }
    #ml-root {
      background: unset;
    }
  }
}

// 主窗口只有在开启透明效果后才隐藏侧边栏遮罩
.acrylic {
  // 侧边栏
  .lite-tools-main {
    .sidebar-nav {
      background-color: unset;
    }
  }
}
// 或者启用覆盖侧边栏
.lite-tools-main {
  &.lite-tools-full-wallpaper {
    // 侧边栏
    .sidebar-nav {
      background-color: unset;
    }
  }
  // 调整背景元素定位
  .tab-container {
    position: relative;
  }
}

// 背景元素样式
.lite-tools-background-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg_bottom_standard);
  font-size: 0;
  &.background-transparent {
    background-color: unset;
  }
  * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// 文件卡片样式
.file-message--content {
  border-radius: var(--lt-box-radius);
  box-shadow: var(--lt-box-shadow);
}

/* 消息内容外部块 */
.message-content__wrapper {
  overflow: unset;
}

/* 消息内容块 */
.forward-msg,
.msg-content-container,
.ark-view-message_not-support,
.mix-message__container {
  &:focus .image:after,
  &:focus:before,
  .image:focus:after {
    background: unset !important;
  }
  &:not(.wallet-message__container, .hidden-background) {
    background: unset !important;
    color: var(--lt-text-color);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: var(--lt-box-shadow);
    overflow: hidden;
    backdrop-filter: blur(28px);

    /* 我的消息 */
    // &.container--self {
    // }
    /* 别人的消息 */
    // &.container--others {
    // }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: blur(28px);
      background-color: var(--lt-background-color-05);
      z-index: -1;
    }
    .text-link {
      color: var(--lt-link-url-color);
    }
    .reply-element {
      color: var(--lt-text-color);
    }
  }
}

/* 语音消息样式 */
.ptt-element__top-area {
  .ptt-element__button {
    background: var(--brand_standard);
  }
  .ptt-element__button .q-icon {
    color: var(--lt-voice-play-icon);
  }
  .ptt-element__progress div {
    background: var(--brand_standard);
  }
  .ptt-element__duration {
    color: var(--brand_standard);
  }
  .ptt-element__duration span {
    transform: translateY(1px);
  }
}

/* 跳转到顶部-底部 */
.chat-msg-area__tip--top-btn,
.chat-msg-area__tip--bottom {
  background-color: var(--lt-background-color-05) !important;
  box-shadow: var(--lt-box-shadow);
  position: relative;
  overflow: hidden;
  border-width: 0;
  backdrop-filter: blur(8px);
  &.theme-primary::after {
    background-color: var(--brand_standard);
  }
}

/* 小程序消息 */
.ark-msg-content-container {
  background: unset;
  color: unset;
  font-size: 0;
  ::after {
    display: none;
  }
}

/* 夜间模式增强文本可阅读性 */
@media (prefers-color-scheme: dark) {
  .user-name {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .message__timestamp,
  .gray-tip-message {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .group-box__wrapper span:not(.text--link) {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

// .blur-mask {
  /* 联系人列表 */
  .container {
    .contact {
      backdrop-filter: blur(8px);
    }
    .contact-profile {
      .profile {
        backdrop-filter: blur(8px);
      }
    }
  }
  /* 输入框 */
  .chat-input-area {
    background: unset !important;
    background-color: var(--lt-background-color-03) !important;
    backdrop-filter: blur(8px);
  }
  /* 群组右侧列表 */
  .group-box__wrapper {
    background-color: var(--lt-background-color-03) !important;
  }
  /* 消息内容外部块 */
  .message-content__wrapper {
    overflow: unset !important;
  }
  /* 工具栏项目 */
  .panel-header__action {
    .side-panel {
      background-color: var(--lt-background-color-05) !important;
      backdrop-filter: blur(8px);
    }
  }
  /* 左侧消息列表 */
  .recent-contact {
    background-color: var(--lt-background-color-05) !important;
    backdrop-filter: blur(8px);
  }
// }
